@import '../../../../styles/abstracts/variables';

.tableContainer {
    display: table;
    width: 100%;

    .tableHeader {
        display: table-header-group;
        background: $primary-color;
        color: #fff;

        .tableHeaderCell {
            display: table-cell;
            padding: 10px;
        }
    }

    .tableBody {
        display: table-row-group;

        .tableRow {
            display: table-row;

            .tableCell {
                display: table-cell;
                padding: 10px;
                white-space: nowrap;
                
                a {
                    text-decoration: none;
                    color: #333;
                    font-weight: 500px;

                    &:hover {
                        color: $primary-color
                    }
                }

                button {
                    all: unset;
                    border-radius: 5px;
                    margin: 5px;
                    color: #fff;
                    padding: 5px 10px;
                    font-size: 12px;
                    font-weight: 500;;
                    cursor: pointer;
                }

                .showBtn {
                    background-color: $primary-color;
                }

                .deleteBtn {
                    background-color: #d41212;

                }
            }
        }
    }

}