footer {
    background: url(../../../assets/images/footer.svg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    position: relative;

    .container-fluid {
        padding-top: 100px
    }

    .footerImgDiv {
        img {
            width: 200px;
            padding-top: 40px;
        }
    }

    .contactDiv {
        padding: 40px 0 0 50px;

        header {
            color: #FBC02D;
        }

        section {
            p {
                margin: 10px 0;
                color: #fff
            }
        }

    }


    .footerLinksCol {
        text-align: center;
        padding-top: 40px;

        ul {
            width: max-content;
            margin: auto;

            h5 {
                text-align: start;
                color: #FBC02D;
            }

            li {
                list-style-type: none;
                text-align: start;
                cursor: pointer;
                padding: 5px 0;

                a {
                    text-decoration: none;
                    color: #fff;
                }

                &:hover {
                    a {
                        color: rgb(252, 202, 76);
                    }
                }
            }
        }
    }

    .footerSocialCol {
        display: flex;
        justify-content: flex-end;
        padding: 40px 40px 0 0;

        .socialLink {
            font-size: 25px;
            margin: 0 20px;
            cursor: pointer;
            transition: all .1s ease-in-out;

            &:hover {
                color: #FBC02D;
            }
        }
    }

    .rightCol {
        padding: 30px 0 10px 0;
        text-align: center;
        color: #fff;
        font-size: 17px;

    }
}


@media screen and (max-width:768px) {
    footer {
        background: linear-gradient(to bottom, #764BCB, #4F3388);

        .container-fluid {
            padding-top: 0px
        }

        .footerSocialCol {
            justify-content: center;
            padding-right: 0px;
        }

    }

}
