@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";
@import "../../../../../styles/base/utilities";
@import "../../../../../styles/base/typography";


.chat-litem {
    padding: 10px;
    margin-bottom: 5px;

    &:hover {
        background-color: #eaeaea;
        cursor: pointer;
    }

    &.active {
        background-color: #e0e0e0;
    }
}

.user {
    @include flexbox;
    align-items: center;
    margin-bottom: .5em;

    .imgDiv {
        position: relative;

        .noOfUnreadMsg {
            p {
                position: absolute;
                top: -5px;
                right: -5px;
                background-color: #764BCB;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 12px;
                font-weight: 600;
            }
        }
    }

    &__img {
        width: 40px;
        height: 40px;
        background-color: $light-primary-color;
        border-radius: 50%;
    }

    &__info {
        // @include flexbox;
        // justify-content: space-between;
        // flex-direction: column;
        // font-weight: 500;
        width: calc(100% - 50px);
        margin-left: .5rem;

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-name {
            font-size: 15px;
            color: $primary-text;
            font-weight: 500;
        }

        &-time {
            font-size: 11px;
            color: rgba($secondary-text, .7);
            white-space: nowrap;
            margin-top: -3px;
        }
    }
}

.lmsg {
    font-size: 10px;
    font-weight: 700;
    color: rgba($secondary-text, .9);

    span {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

@media(max-width:768px) {
    .user {
        margin: 0px auto;
        width: min-content;

        &__img {
            margin: auto;
            width: 50px;
            height: 50px;
        }

        &__info,
        .lmsg {
            display: none;
        }
    }
}

@media(max-width:576px) {
    .chat-litem {
        padding: 5px;
        margin-bottom: 0px;
    }

    .user {
        cursor: auto;

        .imgDiv{
            height: 50px;
        }
    }
}