<a class="chat-item chat-item--active" href="">
    <div class="chat-item__msg">
        <img 
            src="../../../../../assets/svgs/man.svg" 
            alt="user img"
            class="chat-item__msg-img">
        <div class="chat-item__msg-details">
            <span class="chat-item__msg-name">
                Mahmoud Mohamed
            </span>
            <p class="chat-item__msg-date">
                01:28 PM
            </p>
        </div>
    </div>

    <div class="chat-item__lastmsg">
        <span>
            A successfull message can be short that can be to added 
            to edit text to search for every title
        </span>
    </div>
</a>

<a class="chat-item" href="">
    <div class="chat-item__msg">
        <img 
            src="../../../../../assets/svgs/man.svg" 
            alt="user img"
            class="chat-item__msg-img">
        <div class="chat-item__msg-details">
            <span class="chat-item__msg-name">
                Mahmoud Mohamed
            </span>
            <p class="chat-item__msg-date">
                01:28 PM
            </p>
        </div>
    </div>

    <div class="chat-item__lastmsg">
        <span>
            A successfull message can be short that can be to added 
            to edit text to search for every title
        </span>
    </div>
</a>


<a class="chat-item" href="">
    <div class="chat-item__msg">
        <img 
            src="../../../../../assets/svgs/man.svg" 
            alt="user img"
            class="chat-item__msg-img">
        <div class="chat-item__msg-details">
            <span class="chat-item__msg-name">
                Mahmoud Mohamed
            </span>
            <p class="chat-item__msg-date">
                01:28 PM
            </p>
        </div>
    </div>

    <div class="chat-item__lastmsg">
        <span>
            A successfull message can be short that can be to added 
            to edit text to search for every title
        </span>
    </div>
</a>