@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";
@import "../../../../../styles/base/utilities";
@import "../../../../../styles/base/typography";


.chat-litem {
    padding: 20px 10px;
    margin-bottom: 5px;

    &:hover {
        background-color: #eaeaea;
        cursor: pointer;
    }

    &.active {
        background-color: #e0e0e0;
    }
}

.user {
    @include flexbox;
    align-items: center;

    .imgDiv {
        position: relative;
        height: 40px;
        .noOfUnreadMsg {
            p {
                position: absolute;
                top: -5px;
                right: -5px;
                background-color: $primary-color;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 12px;
                font-weight: 600;
            }
        }
    }

    &__img {
        width: 40px;
        height: 40px;
        background-color: $light-primary-color;
        border-radius: 50%;
        object-fit: cover;
    }

    &__info {
        // @include flexbox;
        // justify-content: space-between;
        // flex-direction: column;
        // font-weight: 500;
        width: calc(100% - 50px);
        margin-left: .5rem;

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-name {
            font-size: 15px;
            color: $primary-text;
            font-weight: 500;
        }

        &-time {
            font-size: 11px;
            color: rgba($secondary-text, .7);
            white-space: nowrap;
            margin-top: -3px;
        }
    }
}

.lmsg {
    font-size: 10px;
    font-weight: 700;
    color: rgba($secondary-text, .9);

    span {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

@media(min-width:768px) and (max-width:992px) {
    .user {
        &__info {
            &-time {
                display: none;
            }
        }
    }

    .lmsg {
        display: none;
    }
}