<div class="chat-litem" [routerLink]="['/community/Chat', (userData | async)?.uid]" (click)="showChats()">
    <div class="user">
        <div class="imgDiv">
            <img src="{{userImgLink}}" alt="" class="user__img">
            <div class="noOfUnreadMsg" *ngIf="noOfMsg>0">
                <p>{{noOfMsg}}</p>
            </div>
        </div>
        <div class="user__info">
            <div class="user__info-container">
                <span class="user__info-name">
                    {{ (userData | async)?.fullName |titlecase}}
                </span>
                <span class="user__info-time">
                    {{ msgTime| date:'shortTime' }}
                </span>
            </div>
            <div class="lmsg">
                <span>{{ roomData?.msg }}</span>
            </div>
        </div>
    </div>
</div>