@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";
@import "../../../../../styles/base/utilities";
@import "../../../../../styles/base/typography";


.chat-litem {
    @include flexbox;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 18px;
    border-right: 2.5px solid $primary-color;
    background-color: rgba(#eee, .3);
}

.user {
    @include flexbox;
    align-items: center;
    margin-bottom: 1em;

    &__img {
        width: 35px;
        height: 35px;
        padding: .1em;
        background-color: $light-primary-color;
        border-radius: 50%;
    }

    &__info {
        @include flexbox;
        flex-direction: column;
        font-weight: 500;
        margin-left: 1.1em;

        &-name {
            font-size: 13px;
            color: $primary-text;
            margin-bottom: .2em;
        }

        &-time {
            font-size: 10px;
            color: rgba($secondary-text, .7);
        }
    }
}

.lmsg {
    font-size: 11px;
    font-weight: 700;
    color: rgba($secondary-text, .9);
}