<div class="col-12">
    <div class="prescriptionDiv">
        <header>

            <div class="dataContainer">
                <div class="dataDiv">
                    <a [routerLink]='["/community/Profile"]'>
                        Dr.Moemen said
                    </a>
                </div>
            </div>

            <div class="dataContainer">
                <div class="dataDiv">
                    <p> 25/2/2020</p>
                </div>
            </div>

        </header>

        <main>
            <div class="descDiv">
                <p>Prescription :</p>
            </div>

            <div class="prescriptionData">
                <p>Kjfbvjkf vbvkbv Vshvbisbvskbv fjk gg dfg kg dkjg dfj dfgklf slk sdvbsikh</p>
            </div>
        </main>

    </div>
</div>