<div class="col-12">
    <div class="prescriptionDiv">
        <header>

            <div class="dataContainer">
                <div class="dataDiv" *ngIf="userType == 'Doctor'">
                    <a [routerLink]='["/community/Profile",prescription.patientId]'>
                        to <span> {{prescription.patientName | titlecase}}</span>
                    </a>
                </div>
                <div class="dataDiv" *ngIf="userType == 'Patient'">
                    <a [routerLink]='["/community/Profile",prescription.docId]'>
                        Dr.<span> {{prescription.docName |titlecase}}</span>
                    </a>
                </div>
            </div>

            <div class="dataContainer">
                <div class="dataDiv">
                    <p>{{prescription.timestamp |date:'dd/MMM/yyyy'}}</p>
                </div>
            </div>

        </header>

        <main>
            <div class="descDiv">
                <p>Prescription :</p>
            </div>

            <div class="prescriptionData">
                <p>{{prescription.content}}</p>
            </div>
        </main>

    </div>
</div>