<div class="docCardOuter">
    <div class="docCardInner animate fadeIn">
        <header>
            <img src="{{docImgUrl}}">
            <h5><a [routerLink]="['/community/Profile',DoctorData.uid]">Dr.{{DoctorData?.fullName}}</a></h5>
            <p class="docFaculty">{{DoctorData.userType.gradFaculty?DoctorData.userType.gradFaculty:'_'}}</p>
            <div class="docRateDiv">
                <i *ngFor="let rate of docRate" class="fas fa-star colorful"></i>
                <i *ngFor='let blank of numOfOffStar' class="fas fa-star blank"></i>
            </div>
        </header>
        <main>
            <div class="docDetailsDiv">
                <img src="../../../assets/images/speciality.svg">
                <p class="detailsDescription">{{DoctorData?.userType.speciality}}</p>
            </div>
            <div class="docDetailsDiv">
                <img src="../../../assets/images/location.svg" style="width:17px;margin: 1.5px;">
                <p class="detailsDescription">{{DoctorData.userType.location}}</p>
            </div>
            <div class="docDetailsDiv">
                <i class="fas fa-money-bill-wave-alt icon" style="transform: rotate(135deg);"></i>
                <p class="detailsDescription">{{DoctorData?.userType.fees}}</p>
            </div>
        </main>
        <footer>
            <button (click)="bookDoctor()">Book</button>
        </footer>
    </div>
</div>