<div class="docCardOuter">
    <div class="docCardInner">
        <header>
            <img src="../../../assets/images/moemen.jpg">
            <h5>Dr.Moemen Said</h5>
            <p class="docBio">Professor - AL Azhar university</p>
        </header>
        <main>
            <div class="docDetailsDiv">
                <img src="../../../assets/images/speciality.svg">
                <p class="detailsDescription">Specialized in kol haga</p>
            </div>
            <div class="docDetailsDiv">
                <img src="../../../assets/images/location.svg" style="width:17px;margin: 1.5px;">
                <p class="detailsDescription">Egypt, Alexandria</p>
            </div>
            <div class="docDetailsDiv">
                <img src="../../../assets/images/star.svg">
                <p class="detailsDescription">4.5</p>
            </div>
        </main>
        <footer>
            <button>Book</button>
        </footer>
    </div>
</div>