@import "../../abstracts/variables";
@import "../../abstracts/mixins";
@import "../../base/utilities";
@import "../../base/typography";

.navContainer {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, .8);

    .navBar {
        padding: 5px 10px;
    }

    .navbarNav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;

        .navItem {

            margin-top: 2px;

            a {
                color: $primary-color;
                text-decoration: none;
                font-size: 18px;
                margin: 5px 10px;
                padding: 0 10px;
                display: inline-block;

                &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: #fff;
                    margin-top: 2px;
                    transition: width .2s ease-in-out;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width:576px) {
    .navContainer {
        .navbar-brand {
            margin: 0px auto;
            display: block;
        }

        .navbarNav {
            margin-top: 5px;
            justify-content: space-evenly;

            .navItem {
                a {
                    margin: 5px 0;
                }
            }
        }
    }
}


.signup {
    @include flexbox;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(src\assets\svgs\abstract-bg.svg);
    background-attachment: fixed;
    background-size: cover;
    padding-top: 65px;
}

.content {
    @include flexbox;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.stepper {
    width: 100%;
    box-shadow: 0px 0px 5px #aaa;
    border-radius: 10px;
    overflow: hidden;

    &__label {
        @include form-labels;
        cursor: pointer;

        &--custom {
            color: $primary-color;
            font-weight: 400;
            font-size: 12px;
        }
    }

    &__actions {

        &-submit {
            @include buttons;
            width: 225px;
            font-size: 13px;
            padding: 1em 2em;
            display: block;
            margin: auto;
        }
    }

    &__items {
        @include flexbox;
        flex-direction: column;
        align-items: flex-start;
    }

    &__img {
        width: 200px;
    }
}

.info {
    color: $primary-text;
}

.custom {
    background-color: transparent;
    color: $primary-color;
    font-size: 14px;
    font-weight: 700;
}

.loading {
    height: 400px;
    @include flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: $primary-color;
}

@media(max-width:767.9px) {
    .navContainer{
        position: static;
    }
    .signup {
        padding-top: 0px;
    }

}