<section class="gstarted">
    <div class="content">
        <!-- <div class="welcome">
            <p class="welcome__txt">
                Welcome to
                <span class="welcome__txt--custom">
                    Medkit Community
                </span>
            </p>
        </div> -->
        <div class="user">
            <div class="user__upload u-mrgr-2">
                <img 
                    class="user__upload-img" 
                    src="../../../assets/svgs/man2.svg" 
                    alt="user image">

                <label class="user__upload-action">
                    <input type="file" accept="image/*">
                    <svg class="user__upload-icon">
                        <use xlink:href="../../../assets/sprites/topnav-icons.svg#camera"></use>
                    </svg>
                </label>
            </div>
            <div class="user__info">
                <h1 class="user__info-name u-mrgb-1">
                    Mahmoud Mohamed
                    <span class="user__info-name--custom">
                        mahmoud22@mail.com
                    </span>
                </h1>
                <div class="user__info-btn">
                    View Profile
                </div>
            </div>
            <div class="user__profile">
                <div class="user__profile-lf">
                    <ul class="user__profile-list">
                        <li class="user__profile-list__item">
                            
                            <span class="user__profile-list__custom">

                            </span>
                        </li>
                    </ul>
                </div>
                <div class="user__profile-rg">
                    <!-- right  -->
                </div>
            </div>
        </div>
    </div>
</section>