<header>
    <label>Trusted People<span class="maxNo">up to 3 person</span></label>
    <span [routerLink]="['/community/Profile',userId,'edit']" class="editTrusted"><i class="fas fa-edit"></i></span>
    <div style="clear: both;"></div>
</header>
<div class="trustPeopleContainer" *ngFor='let user of trustedUsers'>
    <a [routerLink]="['/community/Profile',user.uid]" class="personLink">
        <div class="personDiv">
            <img class="personImg" [src]="usersMap.get(user.uid)?usersMap.get(user.uid):deafultImgLink">
            <span class="personName">{{user.fullName}}</span>
        </div>
    </a>
</div>