<nav class="d-sidenav">
    <ul class="d-sidenav__list">
        <li class="d-sidenav__list-item d-sidenav__list-item--custom">
            <a href="#" class="d-sidenav__list-link d-sidenav__list-link--custom">
                <svg class="d-sidenav__list-icon d-sidenav__list-icon--custom">
                    <use xlink:href="../../../../assets/sprites/sidenav-icons.svg#timeline"></use>
                </svg>
                <p class="d-sidenav__list-text">
                    Timeline
                </p>
            </a>
        </li>
        <li class="d-sidenav__list-item">
            <a href="#" class="d-sidenav__list-link">
                <svg class="d-sidenav__list-icon">
                    <use xlink:href="../../../../assets/sprites/sidenav-icons.svg#dashboard"></use>
                </svg>
                <p class="d-sidenav__list-text">
                    Dashboard
                </p>
            </a>
        </li>
        <li class="d-sidenav__list-item">
            <a href="#" class="d-sidenav__list-link">
                <svg class="d-sidenav__list-icon">
                    <use xlink:href="../../../../assets/sprites/sidenav-icons.svg#star"></use>
                </svg>
                <p class="d-sidenav__list-text">
                    Reviews
                </p>
            </a>
        </li>
        <li class="d-sidenav__list-item">
            <a href="#" class="d-sidenav__list-link">
                <svg class="d-sidenav__list-icon">
                    <use xlink:href="../../../../assets/sprites/sidenav-icons.svg#chat"></use>
                </svg>
                <p class="d-sidenav__list-text">
                    Chats
                </p>
            </a>
        </li>
        <li class="d-sidenav__list-item">
            <a href="#" class="d-sidenav__list-link">
                <svg class="d-sidenav__list-icon">
                    <use xlink:href="../../../../assets/sprites/sidenav-icons.svg#first-aid"></use>
                </svg>
                <p class="d-sidenav__list-text">
                    Healthbeat
                </p>
            </a>
        </li>
    </ul>
</nav>