@import "../../../../styles/abstracts/variables";

a {
    text-decoration: none;
    color: #222;
}

.notificationContentDiv {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #eee;
    margin: 5px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    p {
        margin: 0px 10px;
        font-size: 14px;

        a {
            font-size: 15px;
            font-weight: 600;
            color: #222;
        }
    }

    p.notificationTime {
        font-size: 12px;
        font-weight: 600;
        margin-top: -2px;
        color: #555;
    }

    .unreadDotDiv {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $primary-color;
    }

    &:hover {
        background: #e5e5e5;
    }

    &.read {
        background-color: #fff;

        &:hover {
            background: #e5e5e5;
        }

        .unreadDotDiv {
            display: none;
        }

    }
}