<div class="notificationDiv">
    <a href="#">
        <div class="notificationContentDiv">
            <div><img src="./assets/images/profile.jpg"></div>
            <div>
                <p>moemen added new post</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="notificationContentDiv">
            <div><img src="./assets/images/profile.jpg"></div>
            <div>
                <p>moemen added new post</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="notificationContentDiv">
            <div><img src="./assets/images/profile.jpg"></div>
            <div>
                <p>moemen added new post</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="notificationContentDiv">
            <div><img src="./assets/images/profile.jpg"></div>
            <div>
                <p>moemen added new post</p>
            </div>
        </div>
    </a>
</div>