@import "../../abstracts/variables";
@import "../../abstracts/mixins";
@import "../../base/utilities";
@import "../../base/typography";


.signin {
    @include forms-pages;
    background-image: url(src\assets\svgs\abstract-bg.svg);
    background-size: cover;
}

.navbar {
    width: 100%;
    @include flexbox;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    background-color: rgba($divider-color, .7);
    position: fixed;
    top: 0;
    left: 0;
    &__brand {
        width: 100px;
        text-align: center;
        margin-left: 1em;
    }
    &__list {
        @include flexbox;
        justify-content: space-around;
        width: 250px;
        &-item {
            list-style: none;
        }
        &-link {
            @include links(16px, $primary-color);
            font-weight: 600;
            font-size: 15px;
        }

        @media only screen and (max-width: 600px) {
            width: 220px;
        }
    }
}

.content {
    background-color: $divider-color;
    padding: 2em;
    border-radius: 5px;
    @include flexbox;
    flex-direction: column;
    width: 400px;
}

<<<<<<< HEAD
.title {
    font-size: 25px;
    font-weight: 600;
    color: #101830;
    align-self: flex-start;
=======
.orDiv {
    p {
        font-size: 20px;
        color: #666;
        display: flex;
        align-items: center;
        margin:1rem 0;
        

        &::before {
            content: "";
            width: 40%;
            height: 2px;
            background-color: #999;
            display: block;
            position: absolute;
            left: 0;
        }


        &::after {
            content: "";
            width: 40%;
            height: 2px;
            background-color: #999;
            display: block;
            position: absolute;
            right: 0;
        }
    }

>>>>>>> ce23efcbdbdf952fed331816670f2d7288a052ba
}

.form {
    @include forms;
    &__fgroup {
        @include form-groups;
        &-label {
            @include form-labels;
        }
        &-control {
            @include form-controls;
        }
    }
}


.controllers {
    width: 100%;
    @include flexbox;
    justify-content: space-between;
    align-items: center;

    &__items {
        @include flexbox;
        align-items: center;
        font-size: 13px;
        font-weight: 400;
        color: $primary-text;
        &-chbox {
            width: 15px;
            height: 15px;
        }

        &-fgot {
            text-decoration: none;
            font-size: 13px;
            color: $primary-color;
        }
    }
}

.submit {
    width: 100%;
    text-align: center;
    &__btn {
        @include buttons;
    }
}

.sociallog {
    @include flexbox;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
     &__item {
         @include buttons;
         @include flexbox;
         align-items: center;
         font-size: 13px;

         &--g {
             background-color: #DF4930;
         }
         &--fb {
             background-color: #507CC0;
         }
         &--email {
             background-color: transparent;
             border: .4px solid $secondary-text;
             color: $primary-text;
         }
     }
 
     &__icon {
         width: 18px;
         height: 18px;
         fill: $divider-color;
         margin-right: .7em;
         &--custom {
             fill: rgba($secondary-text, .7);
         }
     }
 }