@import "../../abstracts/variables";
@import "../../abstracts/mixins";
@import "../../base/utilities";
@import "../../base/typography";


.signin {
    @include forms-pages;
    background-image: url(src\assets\svgs\abstract-bg.svg);
    background-size: cover;
    flex-direction: row;
    justify-content: center;
}

.navContainer {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, .8);

    .navBar {
        padding: 5px 10px;
    }

    .navbarNav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;

        .navItem {

            margin-top: 2px;

            a {
                color: $primary-color;
                text-decoration: none;
                font-size: 18px;
                margin: 5px 10px;
                padding: 0 10px;
                display: inline-block;

                &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: #fff;
                    margin-top: 2px;
                    transition: width .2s ease-in-out;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width:576px) {
    .navContainer {
        .navbar-brand {
            margin: 0px auto;
            display: block;
        }

        .navbarNav {
            margin-top: 5px;
            justify-content: space-evenly;

            .navItem {
                a {
                    margin: 5px 0;
                }
            }
        }
    }
}

.content {
    background-color: rgba(255, 255, 255, .8);
    padding: 2em;
    border-radius: 5px;
    @include flexbox;
    flex-direction: column;
    min-width: 400px;
}

.title {
    font-size: 25px;
    font-weight: 600;
    color: #101830;
    align-self: center;
}

.form {
    @include forms;

    &__fgroup {
        @include form-groups;

        &-label {
            @include form-labels;
        }

        &-control {
            @include form-controls;
        }
    }
}


.controllers {
    width: 100%;
    @include flexbox;
    justify-content: space-between;
    align-items: center;

    &__items {
        @include flexbox;
        align-items: center;
        font-size: 13px;
        font-weight: 400;
        color: $primary-text;

        &-chbox {
            width: 15px;
            height: 15px;
        }

        &-fgot {
            text-decoration: none;
            font-size: 13px;
            color: $primary-color;
        }
    }
}

.submit {
    width: 100%;
    text-align: center;

    &__btn {
        @include buttons;
        background:linear-gradient(to right ,#258acd, #57a6d4);
    }
}

.sociallog {
    @include flexbox;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;

    &__item {
        @include buttons;
        @include flexbox;
        align-items: center;
        font-size: 13px;
        padding: 1em;

        &--g {
            background-color: #DF4930;
            margin-right: 2px;
        }

        &--fb {
            background-color: #507CC0;
            margin-left: 2px;
            ;
        }

        &--email {
            background-color: transparent;
            border: .4px solid $secondary-text;
            color: $primary-text;
        }
    }

    &__icon {
        width: 18px;
        height: 18px;
        fill: $divider-color;
        margin-right: .7em;

        &--custom {
            fill: rgba($secondary-text, .7);
        }
    }
}

@media(max-width:576px) {
    .sociallog {
        flex-direction: column;

        &__item {
            &--g {
                margin:5px 0px;
                width:100%
            }

            &--fb {
                margin:0px;
                width:100%
            }
        }
    }
}

@media(max-width:767.9px) {
    .navContainer{
        position: static;
    }
    .signin {
        min-height: auto;
    }

}