<div class="outerDiv">
    <div class="innerDiv">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="userData">
                        <div class="imgDiv">
                            <img src="{{userLinkImg}}">
                        </div>
                        <div class="userName">
                            <p>{{userData.fullName | titlecase}}</p>
                        </div>
                    </div>
                    <div class="AlertDescription">
                        <p>help me!! I'm in this location</p>
                    </div>
                    <div class="confirmBtnDiv">
                        <button class="btn" (click)='onConfiremAlert()'>Confirm</button>
                    </div>
                </div>
                <div class="col-12 col-md-9 p-0">
                    <div class="mapDiv">
                        <agm-map style="height: 600px;width: 100%;float: right;" [disableDoubleClickZoom]="true"
                            [streetViewControl]="false" [zoom]="15" [latitude]='latitude' [longitude]='longitude'>

                            <agm-marker [latitude]='latitude' [longitude]='longitude'></agm-marker>

                        </agm-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>