@import "../../../../styles/abstracts/variables";

body {
    overflow-y: hidden;
}

.outerDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;

    .innerDiv {
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;

        .imgDiv {
            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 50%;
                display: block;
                margin: 30px auto;
                animation: imagePulsing 1s 1s ease-in-out infinite !important;
            }
        }

        .userName {
            p {
                font-size: 25px;
                text-align: center;
                font-weight: 500;
            }
        }

        .AlertDescription {
            p {
                margin-top: 25px;
                font-size: 20px;
                text-align: center;
            }
        }

        .confirmBtnDiv {
            .btn {
                background-color: $primary-color;
                color: #fff;
                display: block;
                margin: 20px auto;

                &:focus {
                    box-shadow: none;
                }
            }
        }

        .mapDiv {
            min-width: 700px;

            agm-map {
                height: 600px;
                width: 100%;
                float: right;
            }

        }
    }

}

@media(max-width:768px) {
    .outerDiv {
        .innerDiv {
            width: 95%;
            height: 95%;

            .imgDiv {
                img {
                    width: 100px;
                    height: 100px;
                    margin: 20px auto;
                }
            }

            .AlertDescription {
                p {
                    margin-top: 15px;
                }
            }

            .mapDiv {
                width: 100%;
                min-width: unset;

                agm-map {
                    height: 50vh;
                }
            }
        }
    }
}

@keyframes imagePulsing {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(1.05);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.05);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}