<!-- <div class="profile-actions">
    <div class="profile-actions__box">
        <div class="profile-actions__status">
            <span class="profile-actions__status-title">
                Status
            </span>
            <svg class="icon">
                <use xlink:href="../../../../../assets/sprites/icons.svg#information"></use>
            </svg>
            <span class="profile-actions__status-icon">
            </span>
            <span class="profile-actions__status-text">
                You're now offline
            </span>
        </div>
        <div class="profile-actions__menu">
            <button class="profile-actions__menu-btn">
                <span>Active</span>
                <svg class="icon2">
                    <use xlink:href="../../../../../assets/sprites/posts-icons.svg#pointing"></use>
                </svg>
            </button>
        </div>
    </div>
</div> -->

<div class="bookingDiv" *ngIf="!isCurrentUser && isDoctor">
    <button class="bookingDiv__btn">Book</button>
</div>

<div class="editDiv" *ngIf="isCurrentUser">
    <button class="editDiv__btn">Edit Details</button>
</div>