<div class="chat-form">
    <textarea 
        name="chat-input" 
        id="chat-input"
        cols="30" 
        rows="2" 
        placeholder="Type a message..." 
        class="chat-form__control"></textarea>
    
    <div class="chat-form__actions">
        <div class="chat-form__actions-wrapper">
            <svg class="chat-form__actions-icon">
                <use xlink:href="../../../../../assets/sprites/chat-icons.svg#paperclip"></use>
            </svg>
            <svg class="chat-form__actions-icon">
                <use xlink:href="../../../../../assets/sprites/chat-icons.svg#image"></use>
            </svg>
        </div>
        <button class="chat-form__actions-send">
            <span>Send Message</span>
            <svg class="chat-form__actions-btn">
                <use xlink:href="../../../../../assets/sprites/chat-icons.svg#send"></use>
            </svg>
        </button>
    </div>
</div>