@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";
@import "../../../../../styles/base/utilities";
@import "../../../../../styles/base/typography";

.chat-sending {
    @include flexbox;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    background-color: #fff;
}

.message-attachments {
    @include flexbox;
    justify-content: center;
    margin-left: 10px;

    .inputDiv {
        position: relative;
        display: flex;
        justify-items: center;
        cursor: pointer;

        input {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }
}

.message-input {
    resize: none;
    padding: 1rem;
    overflow: hidden;
    width: 100%;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    color: $primary-text;
    border: none;

    &::-webkit-input-placeholder {
        font-size: 14px;
        font-weight: 400;
        color: rgba($secondary-text, .7);
    }
}

.send-btn {
    margin-right: 10px;
    padding: .4em;
    border-radius: 50%;
    text-align: center;
}

.icon {
    width: 17px;
    height: 17px;
    margin: .3em;
    cursor: pointer;

    &--attach {
        fill: rgba($secondary-text, .7);
    }

    &--send {
        fill: $primary-color;
    }
}