@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";
@import "../../../../../styles/base/utilities";
@import "../../../../../styles/base/typography";

.chat-sending {
    background-color: red;
    @include flexbox;
    align-items: center;
    position: relative;
}

.message-attachments {
    position: absolute;
    left: 15px;
    top:50%;
    transform: translateY(-50%);
    @include flexbox;
}

.message-input {
    resize: none;
    padding: 1.5em 3.5em;
    overflow: hidden;
    width: 100%;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    color: $primary-text;
    border: none;
    border-top: .3px solid rgba($secondary-text, .5);

    &::-webkit-input-placeholder {
        font-size: 14px;
        font-weight: 400;
        color: rgba($secondary-text, .7);
    }
}

.send-btn {
    position: absolute;
    right: 15px;
    top:50%;
    transform: translateY(-50%);
    padding: .4em;
    border-radius: 50%;
    text-align: center;
}

.icon {
    width: 17px;
    height: 17px;
    margin: .3em;
    cursor: pointer;

    &--attach {
        fill: rgba($secondary-text, .7);
    }

    &--send {
        fill: $primary-color;
    }
}