@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";
@import "../../../../../styles/base/utilities";
@import "../../../../../styles/base/typography";

:host {
    align-self: flex-end;
}

.chat-form {
    @include flexbox;
    flex-direction: column;
    justify-content: flex-start;

    &__control {
        margin-bottom: 1em;
        padding: 1em;
        border-radius: 5px;
        border: 1px solid #eee;
        background-color: rgba(#eee, .3);
        overflow: hidden;
        resize: none;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Inter';
        color: $primary-text;

        &::-webkit-input-placeholder {
            color: $secondary-text;
            font-weight: 400;
            color: rgba($secondary-text, .6);
            font-size: 13px;
        }
    }

    &__actions {
        @include flexbox;
        justify-content: space-between;
        align-items: center;

        &-wrapper {
            @include flexbox;
        }

        &-icon {
            width: 17px;
            height: 17px;
            margin-right: 1em;
            fill: $primary-color;
            cursor: pointer;
        }

        &-send {
            padding: .8em 1em;
            color: $divider-color;
            background-color: $primary-color;
            @include flexbox;
            align-items: center;
            border: none;
            border-radius: 4px;
            font-size: 12px;
            font-weight: 500;
        }

        &-btn {
            width: 14px;
            height: 14px;
            margin-left: 1em;
            fill: $divider-color;
        }
    }
}