@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.mainPostDiv {
    max-width: 600px;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #aaa;
    margin: 30px 20px;
    padding-bottom: 10px;
    background-color: #fff;
    position: relative;

    header {
        background: #fff;
        padding: 10px;

        .postHeaderDiv {
            display: flex;
            justify-content: space-between;
            align-items: center;


            .UserInfDiv {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .userImg {
                    img {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                    }
                }

                .postInf {
                    margin-left: 15px;

                    .userName {
                        font-size: 18px;
                        color: $primary-text;
                    }

                    .postKind {
                        div {
                            background-color: $primary-color;
                            width: max-content;
                            border-radius: 5px;

                            span {
                                color: #fff;
                                padding: 0 10px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            .postOptionDiv {
                .postOptionBtn {
                    border: none;
                    background-color: transparent;
                    width: max-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;

                    span {
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: $primary-text;
                        margin: 1px;
                    }
                }

                .postOption {
                    position: absolute;
                    background-color: #fff;
                    right: 10px;
                    border-radius: 5px;
                    overflow: hidden;
                    box-shadow: 0px 0px 2px #aaa;

                    .postOptContainer {
                        border: none;
                        border-radius: 3px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        padding: 10px 0;
                        align-items: flex-start;


                        .optBtn {
                            padding: 5px 10px;
                            border: none;
                            background: transparent;
                            color: $primary-text;
                            width: 100%;
                            text-align: left;

                            .optIcon {
                                margin-right: 10px;
                            }

                            &:hover {
                                background-color: $hover-color;
                            }

                        }
                    }
                }
            }
        }
    }

    .postImg {
        width: 100%;

        img {
            width: 100%;
            max-height: 350px;
        }
    }

    .postDescriptionDiv {
        background-color: #fff;
        padding: 10px;
        color: $primary-text;
        font-size: 14px;

        p {
            margin: 0px;
        }
    }

    .postRateDiv {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;

        .upDownDiv {
            display: flex;
            justify-content: flex-start;
            align-items: centers;

            .rateBtn {
                margin-left: 10px;
                background: transparent;
                padding: 10px;
                border: none;
                color: $primary-text;
                font-size: 13px;

                .arrow {
                    margin-right: 5px;
                    font-size: 20px;
                }

                .noRate {
                    font-size: 15px;
                    margin-right: 3px;
                }
            }

            .rateUp {
                color: $primary-color;
            }
        }

        .noOfCommentDiv {
            span {
                margin-right: 2px;
                color: $primary-text;
                font-size: 16px;
            }

            span:nth-child(2) {
                margin-right: 10px;
                font-size: 14px;
            }
        }
    }

    .CommentDiv {
        background-color: #fff;

        .CommentContainer {
            position: relative;
            border: 1px solid #ccc;
            margin: 0 10px;
            border-radius: 5px;
            overflow: hidden;

            input {
                width: 100%;
                border: none;
                padding: 10px 70px 10px 10px;

                &::placeholder {
                    color: #ccc;
                }
            }

            button {
                padding: 5px 10px;
                border: none;
                background-color: $primary-color;
                color: #fff;
                position: absolute;
                right: 0px;
                top: 0;
                height: 100%;
            }
        }
    }
}

@media(max-width:768px) {
    .mainPostDiv {
        margin: 20px auto;
    }
}