@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";
@import "../../../../../styles/base/utilities";
@import "../../../../../styles/base/typography";


.head {
    padding: .8em 2em;
    @include flexbox;
    justify-content: space-between;
    align-items: center;
    border-bottom: .3px solid rgba($secondary-text, .6);

    &__user {
        @include flexbox;
        align-items: center;

        &-img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding: .1em;
            background-color: $light-primary-color;
        }

        &-info {
            @include flexbox;
            flex-direction: column;
            margin-left: 1em;

            &__name {
                font-size: 12px;
                font-weight: 700;
                color: $primary-text;
                margin-bottom: .3em;
            }

            &__status {
                font-size: 10px;
                font-weight: 400;
                color: rgba($secondary-text, .7);

                &::before {
                    content: "";
                    width: 8px;
                    height: 8px;
                    background-color: red;
                    display: inline-block;
                    border-radius: 50%;
                    margin-right: 10px;
                    text-align: center;
                }
            }
        }
    }

    &__action {
        &-icon {
            cursor: pointer;
            width: 22px;
            height: 22px;
            fill: $primary-color;
            margin-right: 3em;

            &--custom {
                fill: rgba($secondary-text, .7);
            }
        }
    }
}