<div class="head">
    <div class="head__user">
        <img src="{{userImgSrc}}" alt="" class=" head__user-img">
        <div class="head__user-info">
            <span class="head__user-info__name">
                {{ userData?.fullName | titlecase }}
            </span>
            <span class="head__user-info__status">
                <span class="userStatus" [ngClass]="{'online':userData?.status=='online',
                'offline':userData?.status=='offline',
                'away':userData?.status=='away' || userData?.status=='busy'}"></span>
                {{ userData?.status }}
            </span>
        </div>
    </div>
    <div class="head__action">
        <svg class="head__action-icon" (click)="call()">
            <use xlink:href="../../../../../assets/sprites/chat-icons.svg#videocall"></use>
        </svg>
    </div>
</div>