@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";
@import "../../../../../styles/base/utilities";
@import "../../../../../styles/base/typography";


.head {
    padding: 2px 20px;
    @include flexbox;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;

    &__user {
        @include flexbox;
        align-items: center;

        &-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        &-info {
            @include flexbox;
            flex-direction: column;
            margin-left: 1em;

            &__name {
                font-size: 12px;
                font-weight: 700;
                color: $primary-text;
            }

            &__status {
                font-size: 11px;
                font-weight: 700;
                color: rgba($secondary-text, .7);
                display: flex;
                align-items: center;
                margin-top: -5px;

                .userStatus {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    margin-right: 5px;

                    &.online {
                        background-color: #14ce14;
                        border: 1px solid #aaa;
                    }

                    &.offline {
                        background-color: #d22b2b;
                    }

                    &.away {
                        background-color: #d4e018;
                        border: 1px solid #aaa;
                    }
                }
            }
        }
    }

    &__action {
        display: flex;
        &-icon {
            cursor: pointer;
            width: 25px;
            height: 25px;
            fill: $primary-color;

            &--custom {
                fill: rgba($secondary-text, .7);
            }
        }
    }
}