<div class="head">
    <div class="head__user">
        <div class="showUserListDiv" (click)='onShowUserList()'>
            <svg class="head__action-icon">
                <use xlink:href="../../../../../assets/sprites/chat-icons.svg#back"></use>
            </svg>
        </div>
        <img src="{{userImgSrc}}" alt="" class=" head__user-img">
        <div class="head__user-info">
            <span class="head__user-info__name">
                {{ userData?.fullName | titlecase }}
            </span>
            <span class="head__user-info__status">
                <span class="userStatus" [ngClass]="{'online':userData?.status=='online',
                'offline':userData?.status=='offline',
                'away':userData?.status=='busy'}"></span>
                {{ userData?.status }}
            </span>
        </div>
    </div>
    <div class="head__action" (click)="call()">
        <svg class="head__action-icon">
            <use xlink:href="../../../../../assets/sprites/chat-icons.svg#videocall"></use>
        </svg>
    </div>
</div>