<div class="head">
    <div class="head__action">
        <svg class="head__action-icon head__action-icon--custom">
            <use xlink:href="../../../../../assets/sprites/chat-icons.svg#ellipsis"></use>
        </svg>
    </div>
    <div class="head__user">
        <img 
            src="../../../../../assets/svgs/man.svg" 
            alt="" 
            class="head__user-img">
        <div class="head__user-info">
            <span class="head__user-info__name">
                {{ userData?.fullname }}
            </span>
            <span class="head__user-info__status">
                Active now
            </span>
        </div>
    </div>
    <div class="head__action">
        <svg class="head__action-icon">
            <use xlink:href="../../../../../assets/sprites/chat-icons.svg#videocall"></use>
        </svg>
        <svg class="head__action-icon">
            <use xlink:href="../../../../../assets/sprites/chat-icons.svg#phone-call"></use>
        </svg>
    </div>
</div>