@import "../../../../../../styles/abstracts/variables";
@import "../../../../../../styles/abstracts/mixins";


.message {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &__img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    &__content {
        margin: 10px 15px 0px 15px;
        background-color: #e5e5e5;
        padding: 5px 10px 17px 10px;
        border-radius: 5px 0px 5px 5px;
        position: relative;
        min-width: 70px;
        max-width: 500px;

        .msgContainer {
            display: flex;
            flex-direction: column;

            img {
                max-height: 150px;
                margin: 5px;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    box-shadow: 0px 0px 3px #aaa;
                }
            }
        }

        .fileContainer {
            .fileLink {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                color: #000;
            }

            img {
                max-height: 75px;
                margin: 0px;
                object-fit: contain;

                &:hover {
                    box-shadow: none;
                }
            }
        }

        &-text {
            font-size: 14px;
        }

        &-time {
            font-size: 10px;
            font-weight: 800;
            font-family: inherit;
            color: #555;
            position: absolute;
            bottom: -3px;
            left: 5px;
            direction: ltr;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            right: -10px;
            top: 0;
            width: 10px;
            height: 20px;
            background-image: url('../../../../../../assets/images/rightMsg.png');
            background-size: cover;
        }
    }
}



.outbound {
    direction: rtl;
    margin-right: 20px;

    .outboundContent {
        background: $primary-color ;

        .message {
            &__content {

                &-text {
                    color: #fff;
                }

                &-time {
                    color: #fff;
                    font-weight: 500;
                }
            }
        }
    }

    .message__img {
        display: none;
    }
}


.inbound {
    margin-left: 20px;
    transition: 0s;

    .inboundContent {
        border-radius: 0px 5px 5px 5px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: -10px;
            top: 0;
            right: unset;
            width: 10px;
            height: 20px;
            background-image: url('../../../../../../assets/images/leftMsg.png');
            background-size: cover;
        }

        .message {

            &__content {
                &-time {
                    left: unset;
                    right: 5px;
                }
            }
        }
    }
}