@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.post-form {
    padding: 10px;
    background-color: $divider-color;
    border-radius: 5px;
    margin: 1em auto;
    border: .7px solid rgba($secondary-text, .2);
    min-height: 50px;
    @include forms;
    max-width: 600px;

    &__group {
        width: 100%;
        @include flexbox;
        align-items: center;
        justify-content: space-between;

        &-control {
            resize: none;
            border: none;
            width: 100%;
            padding: 10px;
            font-size: 15px;
            color: $primary-text;
            overflow: hidden;
            font-family: 'Inter';
            background-color: transparent;

            &::-webkit-input-placeholder {
                color: rgba($secondary-text, .6);
                font-weight: 700;
            }

            &--custom {
                &::-webkit-input-placeholder {
                    font-weight: 500;
                }
            }
        }

        &-img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }

    .imgPreviewDiv{
        width: 100%;
        img{
            width: inherit;
        }
    }

    &__actions {
        margin-left: .5em;

        &-icon {
            width: 20px;
            margin-right: 1.3em;
            height: 20px;
            fill: $secondary-text;
            cursor: pointer;

            &--custom {
                width: 14px;
                height: 14px;
            }

            &--drop {
                width: 13px;
                height: 13px;
            }

            &:hover {
                fill: rgba($secondary-text, .6);
                transition: none;
            }
        }
    }

    &__submit {
        position: relative;
        @include flexbox;
        align-items: center;

        &-btn {
            padding: 8px 20px;
            background-color: $primary-color;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            color: $divider-color;
            font-weight: 700px;
            cursor: pointer;

            &:disabled {
                cursor: not-allowed;
                pointer-events: all !important;
                background-color: rgba($primary-color, .4);

            }
        }

        &-category {
            &__btn {
                background-color: transparent;
                color: rgba($secondary-text, 1);
                font-weight: 700;
                padding: 0px 10px;
                border-left: 1px solid rgba($primary-color, .4);
                border-radius: 0;
                text-align: center;
            }

            .collapse {
                position: absolute;
                top: 40px;
                background-color: #fff;
                padding: 5px 0;
                border-radius: 5px;
                box-shadow: 0px 0px 5px #888;
                z-index: 10;
                width: max-content;

                option {
                    margin: 2px 0px;
                    padding: 0px 20px;
                    font-family: inherit;
                    font-size: 13px;
                    font-weight: 700;
                    cursor: pointer;

                    &:hover {
                        background-color: #eee;
                    }
                }
            }
        }

        .postImgInputDiv {
            position: relative;
            width: 20px;
            height: 20px;
            cursor: pointer;
            margin-right: 20px;

            input[type=file] {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
        }
    }
}