@import "../../abstracts/variables";
@import "../../abstracts/mixins";
@import "../../base/utilities";
@import "../../base/typography";

.verify {
    width: 100%;
    height: 100vh;
    @include flexbox;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__content {
        @include flexbox;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 1em;
    }
}

.navbar {
    @include flexbox;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;

    &__brand {
        width: 120px;
    }

    &__userinfo {
        @include flexbox;
        flex-direction: column;

        &-name {
            color: $primary-text;
            margin-bottom: .3em;
            &--custom {
                font-weight: 600;
            }
        }

        &-signout {
            color: $primary-color;
            text-decoration: none;
            font-weight: 700;
            align-self: flex-end;
        }
    }
}

.items {
    @include flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__img {
        width: 150px;
        height: 150px;
    }

    &__desc {
        @include flexbox;
        flex-direction: column;
        text-align: center;
        align-items: center;

        &-title {
            color: $primary-text;
            margin-bottom: .4em;
        }
        &-details {
            width: 55%;
            color: rgba($secondary-text, .9);

            &--custom {
                font-weight: 600;
                color: $secondary-text;
            }

            @media only screen and (max-width: 600px) {
                width: 100%;
            }
        }
    }
}

.chmail {
    @include flexbox;
    flex-direction: column;
    align-items: center;

    &__collapse {
        @include links(13px, $primary-color);
        font-weight: 600;
        transition: all 2s;
        cursor: pointer;
    }

    &__form {
        transition: all .6s ease-in-out;
        height: auto;
    }

    &__fgroup {
        &-control {
            @include form-controls;
        }

        &-resend {
            border: 1px solid $primary-color;
            padding: .3em 1em;
            width: 90px;
            color: $primary-color;
            font-weight: 600;
            font-size: 15px;
            height: 40px;
            background-color: transparent;
            border-radius: 5px;
            margin-left: 1em;
            cursor: pointer;
        }
    }
}

.re-verify {
    border: none;
    padding: .3em 1em;
    color: $divider-color;
    font-weight: 600;
    font-size: 15px;
    background-color: $primary-color;
    height: 40px;
    border-radius: 5px;
    margin-left: 1em;
    cursor: pointer;
}