@import "../../abstracts/variables";
@import "../../abstracts/mixins";
@import "../../base/utilities";
@import "../../base/typography";

.navbar {
    width: 100%;
    @include flexbox;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($divider-color, .7);
    position: fixed;
    top: 0;
    left: 0;

    &__brand {
        width: 100px;
        text-align: center;
        margin-left: 1em;
    }

    &__list {
        @include flexbox;
        flex-direction: column;
        font-size: 16px;
        &-item {
            list-style: none;
            &--custom {
                font-weight: 600;
            }
        }

        &-link {
            color: $primary-color;
            font-weight: 500;
        }
    }
}

.content {
    @include flexbox;
    flex-direction: column;
    justify-content: center;
}

.verify {
    width: 100%;
    height: 100vh;
    @include flexbox;
    justify-content: center;
}

.items {
    @include flexbox;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__img {
        width: 100px;
        height: 100px;
    }

    &__desc {

        &-title {
            color: $primary-text;
        }

        &-details {
            color: $secondary-text;
            width: 500px;
            &--custom {
                font-weight: 700;
                font-size: 14px;
            }
        }
    }
}

.chmail {

    &__collapse {
        color: $primary-color;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
    }

    &__fgroup {

        &-control {
            @include form-controls;
        }

        &-resend {
            @include buttons;
            background-color: transparent;
            border: 1px solid $primary-color;
            color: $primary-color;
        }
    }
}

.re-verify {
    @include buttons;
}