// Main Colors ..
$primary-color: #764BCB;
$dark-primary-color: #643EAE;
$light-primary-color: #E9E9FB;
$icon-color: #BBA5E5;
$primary-text: #2D2D2D;
$secondary-text: #56565a;
$accent-color: #f8f8ff;
$divider-color: #fff;
$background-color: #F6F7FA;

// $primary-color: #0081FF;
// $dark-primary-color: #0274E4;
// $light-primary-color: #DAEDFF;  
// $icon-color: #B3C0CE;
// $primary-text: #44566C;
// $secondary-text: #56565a;
// $background-color: #F8FAFB;
// $accent-color: #f8f8ff;
// $divider-color: #fff;
// $shared-color: #292929;