<div class="container-fluid navContainer" id="navContainer">
    <div class="row navBar">
        <div class="col-sm-6 col-12">
            <a class="navbar-brand d-none d-md-block logo" href="#">
                <img src="../assets/images/logoWhite.svg" class="d-inline-block align-top" id="logo" alt="Logo">
            </a>
            <a class="navbar-brand d-md-none d-block miniLogo" href="#">
                <img src="../assets/images/miniLogoWhite.svg" class="d-inline-block align-top" id="miniLogo"
                    alt="Logo">
            </a>
        </div>

        <div class="col-sm-6 col-12">
            <ul class="navbarNav">
                <li class="navItem">
                    <a class="navLink donationLink" routerLink="/donation">Donation</a>
                </li>
                <li class="navItem">
                    <a class="navLink" routerLink="/auth">Sign up</a>
                </li>
                <li class="navItem">
                    <a class="navLink" routerLink="/signin">Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="fixFixedPositionDiv"></div>