<div class="container-fluid trustedContainer">
    <div class="row">
        <div class="col-12">
            <div class="contentDiv">
                <p class="description">Current trusted people</p>
                <p>(up to 3)</p>
            </div>
        </div>
        <div class=" offset-md-1 col-md-10 col-12" style="margin-top: 10px;">
            <current-trusted></current-trusted>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="editDiv animate fadeIn">
                <edit-trusted></edit-trusted>
            </div>
        </div>
    </div>
</div>