<section class="blog">
    <div class="blog__content">
        <nav class="bnav">
            <div class="bnav__brand">
                <a href="" class="bnav__brand-link">
                    Medkit<span class="bnav__brand-link--custom">.Blog</span>
                </a>
            </div>
            <ul class="bnav__list">
                <li class="bnav__list-item">
                    <a href="" class="bnav__list-link">Stories</a>
                </li>
                <li class="bnav__list-item">
                    <div class="bnav__list-subscribe">
                        <input 
                            type="email" 
                            class="bnav__list-subscribe__control"
                            placeholder="Subscribe to get news">
                        <button 
                            class="bnav__list-subscribe__btn">Subscribe</button>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</section>