@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";

.comment {
    @include flexbox;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: .5em 1em;

    &__info {
        @include flexbox;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 5px;

        .userImgDiv {
            img {
                width: 35px;
                height: 35px;
                background-color: #eee;
                border-radius: 50%;
                margin-right: .4em;
            }
        }

        .commentDataDiv {
            width: 100%;
            background: #efefef;
            padding: 5px 15px;
            border-radius: 5px;

            .userdata {
                display: flex;
                justify-content: space-between;

                .comment__info-user {
                    &__name {
                        font-size: 14px;
                        font-weight: 600;
                        color: $primary-text;
                        margin-right: .4em;
                    }

                    &__date {
                        font-size: 12px;
                        font-weight: 500;
                        color: rgba($secondary-text, .7);
                    }
                }

                .commentHeader {
                    display: flex;
                    align-items: center;
                }

                .comment__info-rate {
                    &__counter {
                        font-weight: 700;
                        font-size: 12px;
                        color: rgba($secondary-text, .7);
                        margin-right: 10px;
                    }
                }

                .commentOption {
                    position: relative;

                    &_caret {
                        font-size: 18px;
                        padding: 5px 0 5px 5px;
                        cursor: pointer;
                    }

                    .collapse {
                        position: absolute;
                        right: 0px;
                        box-shadow: 0px 0px 3px #888;
                        padding: 5px 0px;
                        border-radius: 5px;
                        cursor: pointer;
                        background-color: #fff;

                        &>div {
                            display: flex;
                            align-items: center;
                            padding: 0px 5px;

                            svg {
                                width: 15px;
                                height: 20px;
                                margin: -2px 4px 0px 4px;
                                fill: #c3242d;
                            }

                            span {
                                color: #c3242d;
                                font-size: 13px;
                                font-weight: 700;
                            }

                            &:hover {
                                background: #efefef;
                            }
                        }
                    }
                }
            }

            .commentContentDiv {
                font-size: 13px;
                font-weight: 500;
                color: $primary-text;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .clappingIcon {
                    width: 30px;
                    height: 30px;
                    fill: #fff;
                    cursor: pointer;
                    margin: 5px;
                    border-radius: 5px;
                    padding: 5px;
                    background: $primary-color;
                    transition: all .2s ease-in-out;

                    &:hover {
                        box-shadow: 0px 0px 3px #aaa;
                    }
                }
            }
        }
    }
}

@media(max-width:576px) {
    .comment__info-user {
        flex-direction: column;
        display: flex;
    }

    .comment__info {
        .commentDataDiv {
            .userdata {
                .commentHeader {
                    align-items: flex-start;
                }
            }
        }
    }

}