@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";

.comment {
    @include flexbox;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: .5em 1em;

    &__info {
        @include flexbox;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 5px;

        .userImgDiv {
            img {
                width: 35px;
                height: 35px;
                background-color: #eee;
                border-radius: 50%;
                margin-right: .4em;
            }
        }

        .commentDataDiv {
            width: 100%;
            background: #efefef;
            padding: 5px 15px; 
            border-radius: 5px;

            .userdata {
                display: flex;
                justify-content: space-between;

                .comment__info-user {
                    &__name {
                        font-size: 14px;
                        font-weight: 600;
                        color: $primary-text;
                        margin-right: .4em;
                    }

                    &__date {
                        font-size: 12px;
                        font-weight: 500;
                        color: rgba($secondary-text, .7);
                    }
                }

                .comment__info-rate {
                    &__counter {
                        font-weight: 700;
                        font-size: 12px;
                        color: rgba($secondary-text, .7);
                    }
                }
            }

            .commentContentDiv {
                font-size: 13px;
                font-weight: 500;
                color: $primary-text;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .clappingIcon {
                    width: 30px;
                    height: 30px;
                    fill: rgba(86, 86, 90, 0.7);
                    cursor: pointer;
                    margin: 5px;
                    border-radius: 5px;
                    padding: 5px;
                    background: #ccc;
                }
            }
        }

    }


}