<div class="backDiv"> <img src="../../../../assets/images/topRightAbs.svg"></div>

    <section class="signin">
        <div class="signin__content">
            <div class="info u-mrgt-1 u-mrgb-1">
                <h1 class="info__title lg-title">
                    Welcome back.
                </h1>
                <p class="info__details md-text">
                    Sign in with social account
                </p>
            </div>
            <div class="sociallog u-mrgb-2">
                <div class="sociallog__item sociallog__item--g u-mrgr-1" 
                    (click)="googleSignin()">
                    <svg class="sociallog__icon">
                        <use xlink:href="../../../../../assets/sprites/auth-icons.svg#google"></use>
                    </svg>
                    <a href="#" 
                        class="sociallog__link">Sign in with Google</a>
                </div>
                <div class="sociallog__item sociallog__item--fb" 
                    (click)="facebookSignin()">
                    <svg class="sociallog__icon">
                        <use xlink:href="../../../../../assets/sprites/auth-icons.svg#facebook"></use>
                    </svg>
                    <a href="#" 
                        class="sociallog__link">Sign in with Facebook</a>
                </div>
            </div>
            <div class="orDiv"><p>OR</p></div>
            <form 
                [formGroup]="signinForm"
                (ngSubmit)="signinFormSubmit()"
                class="form u-mrgb-1">
                <div class="form__fgroup u-mrgb-1">
                    <label class="form__fgroup-label" for="email">Email</label>
                    <input 
                        type="email" 
                        class="form__fgroup-control" 
                        placeholder="Enter your email" 
                        id="email" 
                        formControlName="email">
                    
                    <div class="validation" 
                        *ngIf="!emailControl.valid && emailControl.touched">
    
                        <svg class="validation__icon">
                            <use xlink:href="../../../../assets/svgs/exclamation.svg#Capa_1"></use>
                        </svg>
                        <p *ngIf="emailControl.errors.required">
                            {{ validationErrorMessage.required }}
                        </p>
                        <p *ngIf="emailControl.errors.email">
                            {{ validationErrorMessage.notValidEmail }}
                        </p>
                    </div>
                    <div class="validation" 
                        *ngIf="validationErrorMessage.notFound">
    
                        <svg class="validation__icon">
                            <use xlink:href="../../../../assets/svgs/exclamation.svg#Capa_1"></use>
                        </svg>
                        <p>
                            {{ validationErrorMessage.notFound }}
                        </p>
                    </div>
                </div>
                <div class="form__fgroup rel u-mrgb-1">
                    <label class="form__fgroup-label" for="password">Password</label>
                    <div 
                        style="position: absolute; top: 42px; right: 27px; cursor: pointer;" 
                        [showPassword]="checkPassState" 
                        (click)="toggleShowPass()">
                        <svg 
                            *ngIf="!checkPassState"
                            style="width: 18px; height: 18px; fill: #56565a">
                            <use xlink:href="../../../../assets/sprites/pass-state.svg#visibility"></use>
                        </svg>
                        <svg 
                        *ngIf="checkPassState"
                        style="width: 18px; height: 18px; fill: #56565a">
                            <use xlink:href="../../../../assets/sprites/pass-state.svg#invisible"></use>
                        </svg>
                    </div>
                    <input
                        type="password"
                        class="form__fgroup-control input-ref"
                        placeholder="Enter your password"
                        id="password" 
                        formControlName="password">
                    
                    <div class="validation" 
                        *ngIf="!passwordControl.valid && passwordControl.touched">
    
                        <svg class="validation__icon">
                            <use xlink:href="../../../../assets/svgs/exclamation.svg#Capa_1"></use>
                        </svg>
                        <p *ngIf="passwordControl.errors.required">
                            {{ validationErrorMessage.required }}
                        </p>
                    </div>
                    <div class="validation" 
                        *ngIf="validationErrorMessage.incorrectPass">
    
                        <svg class="validation__icon">
                            <use xlink:href="../../../../assets/svgs/exclamation.svg#Capa_1"></use>
                        </svg>
                        <p>
                            {{ validationErrorMessage.incorrectPass }}
                        </p>
                    </div>
                </div>
                <div class="form__controllers u-mrgb-2">
                    <div class="form__controllers-items">
                        <input 
                            type="checkbox"
                            id="rememberme" 
                            class="form__controllers-chbox">
                        <label 
                            class="form__controllers-smlabel" 
                            for="rememberme">Remember me</label>
                    </div>
                    <a href="" class="form__controllers-fgotlink">Forget password?</a>
                </div>
                <button class="form__submit">Sign in</button>
            </form>
            <div class="al-signed u-mrgb-1">
                <p>No account?</p>
                <a routerLink="/signup" class="al-signed__link">Sign up</a>
            </div>
            <div class="homeback">
                <a routerLink="/" class="homeback__link">Back to home.</a>
            </div>
        </div>
    </section>
<img class="leftBottomImg" src="../../../../assets/images/quarterCircleAbs.svg">