:host ::ng-deep .white {
    .navbarNav {
        .navItem {
            a {
                border-color: #555;

            }
        }
    }
}

:host ::ng-deep .fixFixedPositionDiv {
    display: none;
}

:host ::ng-deep .donationLink {
    border: 2px solid #fff;
    border-radius: 5px;

    &:after {
        display: none !important;
    }
}

.DonationIntroDiv {
    width: 100vw;
    height: 70vh;
    background: url('../../../assets/images/donationBack.jpg') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    .downDiv {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
        width: 50px;
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;

        &>div {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .downArrow {
            font-size: 28px;
            color: #fff;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -40%);
            animation: downScroll 1s .5s infinite ease-in-out;
        }
    }
}

.DonationExplationCont {
    margin: 80px auto;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #aaa;

    .DonationExplation {
        p {
            font-size: 17px;
            margin-top: 20px;
            color: #555;
        }
    }

    img {
        max-width: 100%;
    }
}

@media (max-width:768px) {


    .DonationIntroDiv {
        .downDiv {
            bottom: 100px;
        }
    }

    .DonationExplationCont {
        position: relative;
        margin-left: 15px;
        margin-right: 15px;

        &::after {
            content: "";
            background: url('../../../assets/images/donationDescBackOpacity.png') no-repeat center;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-size: cover;
            opacity: .3;
        }

        .DonationExplation {
            p {
                color: #000;
            }
        }
    }
}

@keyframes downScroll {
    0% {
        top: 40%
    }

    50% {
        top: 65%
    }

    100% {
        top: 40%
    }
}


.creditMainDiv {
    margin: 80px auto;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #aaa;

    .creditRow {
        margin-top: 100px;

        .donationHeader {
            margin-top: -100px;
        }

        .amountMainDiv {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .amountDiv {
                width: 100px;
                height: 50px;
                border-radius: 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 20px;
                margin: 20px auto;


                &:nth-of-type(1) {
                    background: #8E61B6;
                }

                &:nth-of-type(2) {
                    background: #66369D;
                }

                &:nth-of-type(3) {
                    background: #522888;
                }

                &:nth-of-type(4) {
                    background: #2D164B;
                }
            }
        }
    }
}

@media(max-width:768px) {
    .creditMainDiv {
        .creditRow {
            margin-top: 0;

            .donationAmountDiv {
                margin-bottom: 150px;

                .donationHeader {
                    margin-top: 0px;
                }
            }
        }
    }
}
