<section class="signup">
    <div class="signup__content">
        <div class="info u-mrgt-2">
            <h1 class="info__title md-title">
                Join to medkit
            </h1>
            <p class="info__details md-text u-mrgb-2">
                Sign up with social, or you can enter your
                information below to create an account on
                medkit community. Let's get started!
            </p>
        </div>
        <div class="sociallog u-mrgb-2">
            <div class="sociallog__item sociallog__item--g u-mrgr-1">
                <svg class="sociallog__icon">
                    <use xlink:href="../../../../../assets/sprites/auth-icons.svg#google"></use>
                </svg>
                <a href="#" 
                    class="sociallog__link">Sign up with Google</a>
            </div>
            <div class="sociallog__item sociallog__item--fb">
                <svg class="sociallog__icon">
                    <use xlink:href="../../../../../assets/sprites/auth-icons.svg#facebook"></use>
                </svg>
                <a href="#" 
                    class="sociallog__link">Sign up with Facebook</a>
            </div>
        </div>
        <form 
            class="form u-mrgb-1" 
            [formGroup]="signupForm" 
            (ngSubmit)="signupFormSubmit()">

            <div class="form__fgroup u-mrgb-1">
                <label 
                    for="fname"
                    class="form__fgroup-label">First Name</label>
                <input 
                    type="text" 
                    id="fname"
                    class="form__fgroup-control input-focus" 
                    placeholder="Enter your first name"
                    formControlName="firstname">

                <div class="validation" 
                    *ngIf="!fnameControl.valid && fnameControl.touched">
                    <svg class="validation__icon">
                        <use xlink:href="../../../../assets/svgs/exclamation.svg#Capa_1"></use>
                    </svg>
                    <p *ngIf="fnameControl.errors.required">
                        {{ validationMessageError.required }}
                    </p>
                </div>
            </div>
            <div class="form__fgroup u-mrgb-1">
                <label 
                    for="lname" 
                    class="form__fgroup-label">Last Name</label>
                <input 
                    type="text"
                    id="lname"
                    class="form__fgroup-control"
                    placeholder="Enter your last name"
                    formControlName="lastname">
                <div class="validation" 
                    *ngIf="!lnameControl.valid && lnameControl.touched">
                    <svg class="validation__icon">
                        <use xlink:href="../../../../assets/svgs/exclamation.svg#Capa_1"></use>
                    </svg>
                    <p *ngIf="lnameControl.errors.required">
                        {{ validationMessageError.required }}
                    </p>
                </div>
            </div>
            <div class="form__fgroup u-mrgb-1">
                <label 
                    for="email" 
                    class="form__fgroup-label">Email</label>
                <input 
                    type="email"
                    id="email"
                    class="form__fgroup-control"
                    placeholder="Enter your email"
                    formControlName="email"
                    #emailInput>
                <div class="validation"
                    *ngIf="!emailControl.valid && emailControl.touched">
                    <svg class="validation__icon">
                        <use xlink:href="../../../../assets/svgs/exclamation.svg#Capa_1"></use>
                    </svg>
                    <p *ngIf="emailControl.errors.required">
                        {{ validationMessageError.required }}
                    </p>
                    <p *ngIf="emailControl.errors.email">
                        {{ validationMessageError.notValidEmail }}
                    </p>
                </div>
            </div>
            <div class="form__fgroup u-mrgb-1">
                <label 
                    for="password" 
                    class="form__fgroup-label">Password</label>
                <input 
                    type="password"
                    id="password"
                    class="form__fgroup-control"
                    placeholder="Enter your password"
                    formControlName="password" 
                    #passInput>

                <div class="validation" 
                    *ngIf="!passControl.valid && passControl.touched">
                    <svg class="validation__icon">
                        <use xlink:href="../../../../assets/svgs/exclamation.svg#Capa_1"></use>
                    </svg>
                    <p *ngIf="passControl.errors.required">
                        {{ validationMessageError.required }}
                    </p>
                </div>
            </div>
            <div class="form__fgroup u-mrgb-1">
                <label 
                    for="cpassword" 
                    class="form__fgroup-label">Confirm password</label>
                <input 
                    type="password"
                    id="cpassword"
                    class="form__fgroup-control"
                    placeholder="Confirm your password"
                    formControlName="cpassword">
                <div class="validation" 
                    *ngIf="!cpassControl.valid && cpassControl.touched">
                    <svg class="validation__icon">
                        <use xlink:href="../../../../assets/svgs/exclamation.svg#Capa_1"></use>
                    </svg>
                    <p *ngIf="cpassControl.errors.required">
                        {{ validationMessageError.required }}
                    </p>
                </div>
            </div>
            <button class="form__submit" type="submit">Sign up</button>
        </form>
        <div class="al-signed u-mrgb-2">
            <p class="al-signed__link">You have an account?
                <a class="al-signed__link--custom" href=""> Sign in</a></p>
        </div>
        <div class="copyright u-mrgb-1">
            <p class="copyright__text">
                By signing up you indicate that you have read 
                and agree to Medkit's 
                <a href="#" class="copyright__link">Terms of Service</a> and 
                <a href="#" class="copyright__link">Privacy Policy</a>.
            </p>
        </div>
    </div>
</section>