<app-home-top-nav></app-home-top-nav>

<div class="DonationIntroDiv">
    <div class="downDiv" id="downDiv" (click)="scroll()">
        <div>
            <i class="fas fa-chevron-down downArrow"></i>
        </div>
    </div>
</div>

<div class="container">
    <div class="DonationExplationCont" id="DonationExplationCont">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-8 col-12">
                        <div class="DonationExplation">
                            <h4>Help us to provide the poor a free medical consultation.</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 d-none d-md-block">
                        <img src="../../../assets/images/donationDescBack.png">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="creditMainDiv">
        <div class="row creditRow">
            <div class="col-md-6">
                <div class="donationAmountDiv">
                    <h3 class="donationHeader">Choose the ammount of donation</h3>
                    <div class="amountMainDiv">
                        <ul>
                            <li>
                                <input type="radio" id="1-option" name="selector">
                                <div class="check"></div>
                                <label for="1-option">20 £</label>
                            </li>

                            <li>
                                <input type="radio" id="2-option" name="selector">
                                <div class="check"></div>
                                <label for="2-option">50 £</label>
                            </li>

                            <li>
                                <input type="radio" id="3-option" name="selector">
                                <div class="check"></div>
                                <label for="3-option">100 £</label>
                            </li>
                            <li>
                                <input type="radio" id="4-option" name="selector">
                                <div class="check"></div>
                                <label for="4-option">200 £</label>
                            </li>
                        </ul>
                        <div class="otherAmountCont">
                            <div class="curency">£</div>
                            <input type="text" class="amountInput" placeholder="Other amount">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- <ng-payment-card></ng-payment-card> -->
            </div>
        </div>
    </div>
</div>