<c-topnav></c-topnav>
<div class="container-fluid mainCommunityDiv">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3 p-0">
                    <c-sidebar></c-sidebar>
                </div>
                <div class="col-md-9 col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="postingDiv">
                                <div class="postingArea"  (click)="showPostingDiv()">
                                    <img src="../../../assets/images/profile.jpg">
                                    <p>Click here to add your problem</p>
                                </div>
                                <div class="filterArea">
                                    <div>
                                        <p class="filterTitle">filter posts</p>
                                    </div>
                                    <div class="CategorySelectionContainer" appDdCollabse>
                                        <button data-target="#collapseCategory" aria-controls="collapseCategory">
                                            <span>{{postCategory}}</span>
                                            <i class="fas fa-angle-down"></i>
                                        </button>
                                        <div class="collapse" id="collapseCategory">
                                            <span vlaue="allPost">All Post</span>
                                            <span vlaue="Corona">Corona</span>
                                            <span value="Diabetes">Diabetes</span>
                                            <span value="Heart">Heart</span>
                                            <span value="Skin">Skin</span>
                                            <span value="Alzheimer">Alzheimer</span>
                                            <span value="Infiction">Infiction</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <post></post>
                            <post></post>
                            <post></post>
                            <post></post>
                            <post></post>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-2 dangerArea">
            <danger-area></danger-area>
        </div>
    </div>
</div>

<div #postingDiv class="addingPostingArea">
    <add-post (closeDivEmit)="hidePostingDiv()" [currentDate]="currentDateClicked"></add-post>
</div>