<div class="fixFixedNav"></div>
<nav class="navbar navbar-expand-md topNavbar" id="topNav">
    <div style="display: flex;align-items: center;">
        <!-- Nav Toggler Btn -->
        <button class="navbar-toggler mainNavBtn" id="sideNaveToggler" type="button" (click)="mainNavBtnClick($event)"
            data-toggle="offcanvas">
            <span class="navTrigger" [ngClass]="navCollabseStatus ? 'active' : ''">
                <i></i><i></i><i></i>
            </span>
        </button>
        <a class="navbar-brand d-none d-md-block logo">
            <img src="../assets/images/logo.svg" class="d-inline-block align-top" alt="Logo">
        </a>
        <a class="navbar-brand d-md-none d-block smallLogo" style="margin-top:-5px;width:160px">
            <img src="../assets/images/miniLogo.svg" class="d-inline-block align-top" alt="Logo">
        </a>
    </div>

    <div class="navControlDiv">
        <!-- Search Area -->
        <div class="searchContainerDiv d-none d-md-block">
            <div class="searchContainer">
                <input type="text" placeholder="Search for doctors">
                <button><img src="../../../assets/images/colorfulSearch.svg"></button>
            </div>
        </div>


        <div class="AccountOptionDiv">
            <!-- Notification Area -->
            <div dropDownCollabse>
                <button class="bellBtn" data-toggle="collapse" data-target="#notificationDiv" (click)='showNotification()'>
                    <div class="notification-bell" [ngClass]="{'bellAnimate':newNotification}">
                        <span class="bell-top"></span>
                        <span class="bell-middle"></span>
                        <span class="bell-bottom"></span>
                        <span class="bell-rad" [ngClass]="{'bellRadAnimate':newNotification}"></span>
                      </div>
                    <div [ngClass]="{'bellDot':newNotification}"></div>
                </button>
                <div class="collapse notificationDivContainer" id="notificationDiv">
                    <header class="notificationHeader">
                        <span>Notification</span>
                        <i class="far fa-times-circle"></i>
                    </header>
                    <notification></notification>
                </div>
            </div>
            <!-- Account Picture and Option -->
            <div class="accountDetails">
                <img src="{{userImgUrl}}"  alt="" class="accountImg">
                <span class=" d-none d-md-block accountName">{{userName | titlecase }}</span>
                <div class="logOutOption" (click)='onLogout()'>
                    <svg>
                        <use xlink:href="../../../../assets/sprites/topnav-icons.svg#logout"></use>
                    </svg>
                </div>
                <!-- Account option -->
                <!-- <div class="AccountOption" dropDownCollabse>
                    <button class="AccountBtn" type="button" data-toggle="collapse" data-target="#AccountOptionDiv"
                        aria-expanded="false" aria-controls="AccountOptionDiv">
                        <i class="fas fa-caret-down"></i>
                    </button>
                    <div class="collapse" id="AccountOptionDiv">
                        <div>
                            <div class=" optionDiv notificationTogglerDiv">
                                <span>Notification</span>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="optionDiv" (click)='onLogout()'>
                                <svg>
                                    <use xlink:href="../../../../assets/sprites/topnav-icons.svg#logout"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</nav>