<div style="height: 55px;"></div>
<nav class="navbar navbar-expand-md topNavbar" id="topNav">
    <div style="display: flex;align-items: center;">
        <!-- Nav Toggler Btn -->
        <button class="navbar-toggler mainNavBtn" id="sideNaveToggler" type="button" (click)="mainNavBtnClick($event)"
            data-toggle="offcanvas">
            <span class="navTrigger" [ngClass]="navCollabseStatus ? 'active' : ''">
                <i></i><i></i><i></i>
            </span>
        </button>
        <a class="navbar-brand d-none d-md-block logo">
            <img src="../assets/images/logo.svg" class="d-inline-block align-top" alt="Logo">
        </a>
        <a class="navbar-brand d-md-none d-block smallLogo" style="margin-top:-5px;width:160px">
            <img src="../assets/images/miniLogo.svg" class="d-inline-block align-top" alt="Logo">
        </a>
    </div>

    <div class="navControlDiv">
        <!-- Search Area -->
        <div class="searchContainerDiv d-none d-md-block">
            <div class="searchContainer">
                <input type="text" placeholder="Search for doctors">
                <button><img src="../../../assets/images/colorfulSearch.svg"></button>
            </div>
        </div>


        <div class="AccountOptionDiv">
            <!-- Notification Area -->
            <div appDdCollabse>
                <div style="position: relative;">
                    <button class="bellBtn" data-toggle="collapse" data-target="#notificationDiv">
                        <i class="far fa-bell notificationBell"></i>
                        <div class="bellDot"></div>
                    </button>
                </div>
                <div class="collapse notificationDivContainer" id="notificationDiv">
                    <header class="notificationHeader">Notification</header>
                    <notification></notification>
                </div>
            </div>
            <!-- Account Picture and Option -->
            <div class="accountDetails">
                <img src="./assets/images/profile.jpg" class="accountImg">
                <span class=" d-none d-md-block accountName">Moemen said</span>
                <!-- Account option -->
                <div class="AccountOption" appDdCollabse>
                    <button class="AccountBtn" type="button" data-toggle="collapse" data-target="#AccountOptionDiv"
                        aria-expanded="false" aria-controls="AccountOptionDiv">
                        <i class="fas fa-caret-down"></i>
                    </button>
                    <div class="collapse" id="AccountOptionDiv">
                        <div>
                            <div class=" optionDiv notificationTogglerDiv">
                                <span>Notification</span>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div (click)='onLogout()' class="optionDiv"><a>Logout</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>