<div class="fixFixedNav"></div>
<nav class="navbar navbar-expand-md topNavbar" id="topNav">
    <div style="display: flex;align-items: center;">
        <!-- Nav Toggler Btn -->
        <button class="navbar-toggler mainNavBtn" id="sideNaveToggler" type="button" (click)="mainNavBtnClick($event)"
            data-toggle="offcanvas">
            <span class="navTrigger" [ngClass]="navCollabseStatus ? 'active' : ''">
                <i></i><i></i><i></i>
            </span>
        </button>

        <a class="navbar-brand">
            <medkit-logo></medkit-logo>
        </a>
    </div>

    <div class="navControlDiv">

        <div class="AccountOptionDiv">
            <!-- Notification Area -->
            <div dropDownCollabse>
                <button class="bellBtn" data-toggle="collapse" data-target="#notificationDiv"
                    (click)='showNotification()'>
                    <div class="notification-bell" [ngClass]="{'bellAnimate':newNotification}">
                        <span class="bell-top"></span>
                        <span class="bell-middle"></span>
                        <span class="bell-bottom"></span>
                        <span class="bell-rad" [ngClass]="{'bellRadAnimate':newNotification}"></span>
                    </div>
                    <div [ngClass]="{'bellDot':newNotification}"></div>
                </button>
                <div class="collapse notificationDivContainer" id="notificationDiv">
                    <header class="notificationHeader">
                        <span>Notification</span>
                        <i class="far fa-times-circle"></i>
                    </header>
                    <notification></notification>
                </div>
            </div>
            <!-- Account Picture and Option -->
            <div class="accountDetails">
                <img src="{{userImgUrl}}" alt="" class="accountImg">
                <span class=" d-none d-md-block accountName">{{userName | titlecase }}</span>
                <!-- Account option -->
                <div class="AccountOption" dropDownCollabse>
                    <button class="AccountBtn" type="button" data-toggle="collapse" data-target="#AccountOptionDiv"
                        aria-expanded="false" aria-controls="AccountOptionDiv">
                        <i class="fas fa-caret-down"></i>
                    </button>
                    <div class="collapse" id="AccountOptionDiv">
                        <div class="optionDiv" [routerLink]='["/community/Profile",userId,"edit"]'>
                            <i class="fas fa-cog icon"></i>
                            <p>Settings</p>
                        </div>
                        <div class="optionDiv" (click)='onLogout()'>
                            <i class="fas fa-sign-out-alt icon"></i>
                            <p>Log Out</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>