<div style="margin:10px">
    <div class="mainPostDiv">
        <header>
            <div class="postHeaderDiv">
                <div class="UserInfDiv">
                    <div class="userImg">
                        <img src="../../../assets/images/profile.jpg">
                    </div>
                    <div class="postInf">
                        <div class="userName">
                            <span>Moemen Said</span>
                        </div>
                        <div class="postKind">
                            <div>
                                <span>Diabetes</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="postOptionDiv">
                    <button class="postOptionBtn" type="button" data-toggle="collapse" data-target="#PostOption" aria-expanded="false" aria-controls="PostOption">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="collapse postOption" id="PostOption">
                        <div class="postOptContainer">
                            <button class="optBtn">
                                <i class="fas fa-bookmark optIcon"></i>
                                <span>Save</span>
                            </button>
                            <button class="optBtn">
                                <i class="fas fa-edit optIcon"></i>
                                <span>Edit</span>
                            </button>
                            <button class="optBtn" >
                                <i class="fas fa-trash optIcon" style="color: #B2022F;"></i>
                                <span>Remove</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="postImg">
            <img src="../../../assets/images/img1.png">
        </div>
        <div class="postDescriptionDiv">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet iaculis nibh ac vestibulum.
                Ut dapibus a nulla at ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada
                fames ac turpis egestas.</p>
        </div>
        <div class="postRateDiv">
            <div class="upDownDiv">
                <button class="rateBtn rateUp">
                    <i class="fas fa-arrow-up arrow arrowUp"></i>
                    <span class="noRate">200</span>
                    <span>Up</span>
                </button>
                <button class="rateBtn rateDown">
                    <i class="fas fa-arrow-down arrow arrowDown"></i>
                    <span class="noRate">30</span>
                    <span>Down</span>
                </button>
            </div>
            <div class="noOfCommentDiv"><span class="noOfComment">2000</span><span>Comment</span></div>
        </div>
        <div class="CommentDiv">
            <div class="CommentContainer">
                <input type="text" placeholder="Write a comment">
                <button>Post</button>
            </div>
        </div>
    </div>
</div>