<div class="outerDiv">
    <div class="inerDiv">
        <header>
            <p>prescription for Moemen said</p>
            <button (click)='closePerCeptionDashboard()'><i class="fas fa-times"></i></button>
        </header>
        <main>
            <form [formGroup]="prescriptionForm" (ngSubmit)="handdelAddpresciption()">
                <textarea placeholder="Enter notes and medicin" formControlName="prescriptionContent"></textarea>
                <button class="submitBtn" [disabled]="!prescriptionForm.valid">Submit</button>
            </form>
        </main>
    </div>
</div>