<div class="doctorReservationOuter" *ngIf="showbooking" (click)="close($event)">
    <div class="doctorReservationInner animate fadeIn slower">
        <header>
            <!-- <h4>Booking a consultation</!-->
            <div class="closeButtonDiv">
                <button (click)="onCloseBooking()"><i class="far fa-times-circle"></i></button>
            </div>
        </header>
        <main>
            <section class="docDataSection">
                <div class="doctorImgDiv">
                    <img alt="" src="{{docImgUrl}}">
                </div>
                <div class="docNameDiv">
                    <h5>Dr.{{doctorData.fullName | titlecase}}</h5>
                </div>
                <div class="docDetails">
                    <p>
                        <img src="../../../assets/images/speciality.svg">
                        Specialized in</p>
                    <p>{{doctorData.userType.specialty}}</p>
                </div>
                <div class="docDetails">
                    <p>
                        <i class="fas fa-money-bill-wave-alt icon" style="transform: rotate(135deg);"></i>
                        fees</p>
                    <p>{{doctorData.userType.fees}} LE</p>
                </div>
            </section>
            <section class="creditCardSection">
                <ng-payment-card (formSaved)='booking($event)'></ng-payment-card>
            </section>
            <!-- <button class="bookBtn" (click)="booking()">Book</button> -->
        </main>
    </div>
</div>