<div class="post-item">
    <div class="post-details">
        <div class="post-details__user">
            <div class="postData">
                <img src="../../../../../assets/svgs/man.svg" alt="user img" class="post-details__user-img">
                <div class="postOwnerandCategory">
                    <span class="postOwner">{{ postData.userName }}</span>
                    <span class="postCategory"> in {{ postData.category }}</span>
                </div>
            </div>
            <div style="display: flex;">
                <span class="postTimeDiv">
                    <i class="far fa-clock"></i>
                    <span>{{ postData.createdTime | date:'d,LLL h:m aa' }}</span>
                </span>
                <div dropDownCollabse class="postOption" *ngIf='isAuther'>
                    <svg>
                        <use xlink:href="../../../../assets/sprites/posts-icons.svg#option"></use>
                    </svg>
                    <div class="collapse">
                        <div (click)='deletePost()'>
                            <svg>
                                <use xlink:href="../../../../assets/sprites/posts-icons.svg#delete"></use>
                            </svg>
                            <span>Delete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-info">
        <span class="post-info__title">
            {{ postData?.title }}
        </span>
        <span class="post-info__content">
            {{ postData?.description }}
        </span>
    </div>
    <div class="image-container" *ngIf="postData.postPhoto">
        <img src="{{postImgSrc}}" alt="post image" class="image-container__img">
    </div>

    <div class="post-actions">
        <upvotes [postId]="postData.postKey"></upvotes>
        <div class="post-actions__comments">
            <span>{{ commentCounter }} comment</span>
        </div>
    </div>
    <comment-dashboard [postId]="postData.postKey"></comment-dashboard>
    <comment-list [postId]="postData.postKey"></comment-list>
</div>