<div class="post-item">
    <div class="post-details">
        <div class="post-details__user">
            <img 
                src="../../../../../assets/svgs/man.svg" 
                alt="user img" 
                class="post-details__user-img">
            <span>
                Mahmoud Mohamed <b>in Diabets</b>
            </span>
            <span class="span"></span>
            <span>
                9:25 PM
            </span>
        </div>
        <svg class="icon">
            <use xlink:href="../../../../../assets/sprites/chat-icons.svg#ellipsis"></use>
        </svg>
    </div>
    <div class="post-info">
        <span class="post-info__title">
            <!-- Welcome to Medkit Community. 👋 -->
            {{ postData?.title }}
        </span>
        <span class="post-info__content">
            <!-- Medkit provides a calm space for remote teams to stay informed and engaged.
            Getting started is easy. Post something to try it out. -->
            {{ postData?.description }}
        </span>
    </div>
    <div class="image-container">
        <img 
            src="../../../../../assets/images/example.jpg"
            alt="post image" 
            class="image-container__img">
            
    </div>

    <div class="post-actions">
        <upvotes [postId]="postData.postId"></upvotes>
        <div class="post-actions__comments">
            <span>20 comment</span>
        </div>
    </div>
    <comment-dashboard [postId]="postData.postId"></comment-dashboard>
    <comment-list [postId]="postData.postId"></comment-list>
</div>