@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";


.post-item {
    max-width: 600px;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #aaa;
    margin: 30px auto;
    padding-bottom: 10px;
    background-color: #fff;
    position: relative;

}

.post-details {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    padding: 12px;

    .postTimeDiv {
        color: #555;
        margin-right: 10px;
        font-size: 13px;

        .fa-clock {
            margin-right: 3px
        }
    }

    &__user {
        @include flexbox;
        justify-content: space-between;
        width: 100%;
        font-weight: 600;
        color: $primary-text;

        .postData {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .postOwnerandCategory {
                display: flex;
                flex-direction: column;

                .postOwner {
                    font-size: 16px;
                }

                .postCategory {
                    color: #fff;
                    padding: 0 7px;
                    font-size: 13px;
                    background-color: $primary-color;
                    width: max-content;
                    border-radius: 5px;
                }
            }
        }

        &-img {
            width: 40px;
            height: 40px;
            margin-right: .8em;
            border-radius: 50%;
            background-color: #eee;
        }

        .postOption {

            &_caret {
                font-size: 20px;
                margin-right: 5px;
                cursor: pointer;
            }

            .collapse {
                position: absolute;
                right: 20px;
                top: 41px;
                box-shadow: 0px 0px 3px #888;
                padding: 5px 0px;
                border-radius: 5px;
                cursor: pointer;

                &>div {
                    display: flex;
                    align-items: center;
                    padding: 0px 5px;

                    svg {
                        width: 15px;
                        height: 20px;
                        margin: -2px 4px 0px 4px;
                        fill: #c3242d;
                    }

                    span {
                        color: #c3242d;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    &:hover {
                        background: #efefef;
                    }
                }
            }
        }
    }
}

.post-info {
    @include flexbox;
    flex-direction: column;
    padding: 12px;

    &__title {
        font-size: 15px;
        font-weight: 800;
        color: $primary-text;
        margin-bottom: .4em;
    }

    &__content {
        font-size: 13px;
        font-weight: 600;
        color: $primary-text;
    }

}

.image-container {
    &__img {
        width: 100%;
        height: auto;
    }
}

.post-actions {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 12px;

    &__comments {
        font-size: 13px;
        font-weight: 700;
        color: $secondary-text;
        cursor: pointer;
        margin-right: 10px;
    }

    &__emoji {
        position: absolute;
        top: 43px;
        left: 0;
    }
}

.icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    fill: rgba($primary-text, .7);
}

.span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba($primary-text, .5);
    margin: 0 .4em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

@media(max-width:576px) {

    .post-details {
        .postTimeDiv {
            font-size: 11px;
        }

        &__user {
            .postData {
                .postOwnerandCategory {
                    .postCategory {
                        padding: 0 5px;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}