<div class="container-fluid navContainer" id="navContainer">
    <div class="row navBar">
        <div class="col-sm-6 col-12">
            <a class="navbar-brand logo" routerLink="/">
                <medkit-logo [textColor]="text"
                [iconFill]="iconFill"
                [iconStroke]="iconStroke"
                [sloganColor]="slogan"></medkit-logo>
            </a>
        </div>

        <div class="col-sm-6 col-12">
            <ul class="navbarNav">
                <!-- <li class="navItem">
                    <a class="navLink donationLink" routerLink="/donation">Donation</a>
                </li> -->
                <li class="navItem">
                    <a class="navLink" routerLink="/signup">Sign up</a>
                </li>
                <li class="navItem">
                    <a class="navLink" routerLink="/signin">Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="fixFixedPositionDiv"></div>