<div class="profile-info">
    <img 
        src="../../../../../assets/svgs/man.svg" 
        alt="" 
        class="profile-info__img">

    <div class="profile-info__user">
        <span class="profile-info__user-name">
            Alex Morgan
        </span>
        <span class="profile-info__user-specialty">
            Diabets Disease
        </span>
        <div class="profile-info__user-belong">
            <div class="profile-info__user-belong__content">
                <span class="profile-info__user-belong__title">
                    posts
                </span>
                <span class="profile-info__user-belong__desc">
                    34
                </span>
            </div>
            <div class="profile-info__user-belong__content">
                <span class="profile-info__user-belong__title">
                    claps
                </span>
                <span class="profile-info__user-belong__desc">
                    980
                </span>
            </div>
            <div class="profile-info__user-belong__content">
                <span class="profile-info__user-belong__title">
                    rate
                </span>
                <span class="profile-info__user-belong__desc">
                    8.9
                </span>
            </div>
        </div>
        <div class="profile-info__user-actions">
            <button class="profile-info__user-actions__btn profile-info__user-actions__btn--custom">
                <span>Stories</span>
            </button>
            <button class="profile-info__user-actions__btn">
                <span>View profile</span>
            </button>
        </div>
    </div>
</div>