<div class="profile-info">
    <div class="profile-info__ImgDiv">
        <div class="userStatus" [ngClass]="{'active':userData?.status=='online',
        'offline':userData?.status=='offline',
        'busy':userData?.status=='away' || userData?.status=='busy'}"></div>
        <img src="{{imgSrc}}" alt="" class="profile-info__ImgDiv-img">
    </div>

    <div class="profile-info__user">
        <span class="profile-info__user-name">
            {{userData.fullName |titlecase}}
        </span>
        <!-- <span class="profile-info__user-specialty">
            Diabets
        </span> -->
        <div class="profile-info__user-belong">
            <!-- <div class="profile-info__user-belong__content">
                <span class="profile-info__user-belong__title">
                    post
                </span>
                <span class="profile-info__user-belong__desc">
                    34
                </span>
            </div> -->
            <div class="profile-info__user-belong__content">
                <span class="profile-info__user-belong__title">
                    comment
                </span>
                <span class="profile-info__user-belong__desc">
                    {{userData.commentCounter}}
                </span>
            </div>
            <div class="profile-info__user-belong__content">
                <span class="profile-info__user-belong__title">
                    claps
                </span>
                <span class="profile-info__user-belong__desc">
                    {{userData.clappingCounter}}
                </span>
            </div>
            <!-- <div class="profile-info__user-belong__content">
                <span class="profile-info__user-belong__title">
                    rate
                </span>
                <span class="profile-info__user-belong__desc">
                    8.9
                </span>
            </div> -->
        </div>
        <!-- <div class="profile-info__user-actions">
            <button class="profile-info__user-actions__btn profile-info__user-actions__btn--custom">
                <span>Stories</span>
            </button>
            <button class="profile-info__user-actions__btn">
                <span>View profile</span>
            </button>
        </div> -->
    </div>
</div>