@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";

.profile-info {
    @include flexbox;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px;

    &__img {
        width: 90px;
        height: 90px;
        border-radius: 5px;
        margin-right: 15px;
    }

    &__user {
        @include flexbox;
        flex-direction: column;
        

        &-name {
            font-size: 16px;
            font-weight: 600;
            color: $primary-text;
            margin-bottom: 4px;
        }

        &-specialty {
            font-size: 13px;
            font-weight: 500;
            color: rgba($secondary-text, .7);
            margin-bottom: 10px;
        }

        &-belong {
            @include flexbox;
            padding: 9px 20px;
            justify-content: space-between;
            border-radius: 5px;
            width: 200px;
            margin-bottom: 1em;
            background-color: rgba($secondary-text, .05);

            &__content {
                @include flexbox;
                flex-direction: column;
            }

            &__title {
                font-size: 13px;
                font-weight: 700;
                color: rgba($secondary-text, .7);
            }

            &__desc {
                font-size: 16px;
                font-weight: 600;
                color: $primary-text;
            }
        }

        &-actions {
            @include flexbox;
            width: 200px;
            justify-content: space-between;

            &__btn {
                padding: 8px 15px;
                border: none;
                border-radius: 5px;
                background-color: $primary-color;
                font-weight: 600;
                font-size: 12px;
                color: $divider-color;

                &--custom {
                    border: 1px solid $primary-color;
                    font-weight: 600;
                    font-size: 12px;
                    color: $primary-color;
                    background-color: transparent;
                    margin-right: 10px;
                }
            }
        }
    }
}