@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";

.profile-info {
    @include flexbox;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;

    &__ImgDiv {
        position: relative;

        .userStatus {
            position: absolute;
            top: 10px;
            right: 29px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: green;
            border: 3px solid #fff;
        }

        &-img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin-right: 20px;
        }
    }

    &__user {
        @include flexbox;
        flex-direction: column;
        width: 100%;

        &-name {
            font-size: 16px;
            font-weight: 600;
            color: $primary-text;
            margin-left: 5px;
            margin-bottom: 10px;

        }

        &-belong {
            @include flexbox;
            justify-content: space-between;
            border-radius: 5px;
            max-width: 170px;
            background-color: rgba($secondary-text, .05);
            padding: 5px 20px;

            &__content {
                @include flexbox;
                flex-direction: column;
            }

            &__title {
                font-size: 13px;
                font-weight: 700;
                color: rgba($secondary-text, .7);
            }

            &__desc {
                font-size: 16px;
                font-weight: 600;
                color: $primary-text;
            }
        }

        &-actions {
            @include flexbox;
            width: 200px;
            justify-content: space-between;

            &__btn {
                border: none;
                border-radius: 5px;
                background-color: $primary-color;
                font-weight: 600;
                font-size: 12px;
                color: $divider-color;

                &--custom {
                    border: 1px solid $primary-color;
                    font-weight: 600;
                    font-size: 12px;
                    color: $primary-color;
                    background-color: transparent;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media(max-width:992px) {
    .profile-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__ImgDiv {

            &-img {
                margin-right: 0px;
            }

            .userStatus {
                right: 9px;

            }
        }

        &__user {
            justify-content: center;
            align-items: center;
            margin-top: 10px;

            &-name {
                margin-top: 10px;
            }

            &-specialty {
                margin-bottom: 10px;
            }

            &-belong {
                padding: 5px 10px;

                &__content {
                    margin: 0 10px;
                }
            }
        }
    }
}