<div class="profile-info">
    <div class="profile-info__ImgDiv">
        <div class="userStatus" [ngClass]="{'active':userData?.status=='online',
        'offline':userData?.status=='offline',
        'busy':userData?.status=='busy'}"></div>
        <img src="{{imgSrc}}" alt="" class="profile-info__ImgDiv-img">
    </div>

    <div class="profile-info__user">
        <span class="profile-info__user-name">
            {{userData.fullName |titlecase}}
        </span>
        <div class="docRateDiv" *ngIf="userData.userType.usertype == 'Doctor'">
            <i *ngFor="let rate of docRate" class="fas fa-star colorful"></i>
            <i *ngFor='let blank of numOfOffStar' class="fas fa-star blank"></i>
        </div>
        <div class="profile-info__user-belong">
            <div class="profile-info__user-belong__content">
                <span class="profile-info__user-belong__title">
                    post
                </span>
                <span class="profile-info__user-belong__desc">
                    {{userData.postCounter}}
                </span>
            </div>
            <div class="profile-info__user-belong__content">
                <span class="profile-info__user-belong__title">
                    comment
                </span>
                <span class="profile-info__user-belong__desc">
                    {{userData.commentCounter}}
                </span>
            </div>
            <div class="profile-info__user-belong__content">
                <span class="profile-info__user-belong__title">
                    claps
                </span>
                <span class="profile-info__user-belong__desc">
                    {{userData.clappingCounter}}
                </span>
            </div>
        </div>
    </div>
</div>