<section class="social">
    <div class="content">
        <div class="info u-mrgb-2">
            <h1 class="info__title sm-title u-mrgb-1">
                Sign up with social
            </h1>
            <p class="info__details sm-text">
                if you have social you can create account or you
                can create account with medkit email
            </p>
        </div>
        <div class="sociallog u-mrgb-1">
            <button class="sociallog__item sociallog__item--g u-mrgb-1">
                <svg class="sociallog__icon">
                    <use xlink:href="../../../../../assets/sprites/auth-icons.svg#google"></use>
                </svg>
                <a>Sign up with Google</a>
            </button>
            <button class="sociallog__item sociallog__item--fb u-mrgb-1">
                <svg class="sociallog__icon">
                    <use xlink:href="../../../../../assets/sprites/auth-icons.svg#facebook"></use>
                </svg>
                <a>Sign up with Facebook</a>
            </button>
            <button class="sociallog__item sociallog__item--email u-mrgb-1">
                <svg class="sociallog__icon sociallog__icon--custom">
                    <use xlink:href="../../../../../assets/sprites/auth-icons.svg#email"></use>
                </svg>
                <a 
                    class="sociallog__item-link"
                    routerLink="/signup">Sign up with Email</a>
            </button>
        </div>

        <div class="copyright">
            By signing up 
            you indicate that you 
            have read and agree to Medkit's 
            <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
        </div>
    </div>
</section>