<!-- Start Community part-->

<!-- <community-container></community-container> -->

<!--End Community part -->

<!-- <community></community> -->
<!-- <signin-page></signin-page> -->
<!-- <signup-page></signup-page> -->
<!-- <home-page></home-page> -->
<!-- <email-verification></email-verification> -->
<!-- <not-found></not-found> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-donation></app-donation> -->
<add-post></add-post>
<router-outlet></router-outlet>

<!-- <doctor-community></doctor-community> -->