<!--Start Community part-->

<!-- <c-topnav></c-topnav>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3 p-0"><c-sidebar> <post></post>
                    </c-sidebar></div>
                <div class="col-md-9 col-12" style="background:#f5f5f5">
                    <post></post>
                    <post></post>
                    <post></post>
                    <post></post>
                    <post></post>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="background:#fff;position: sticky;top: 55px;height: calc(100vh - 55px);box-shadow: -1px 0px 3px -1px #aaa;">
        <danger-area></danger-area>
        </div>
    </div>
</div> -->

<!--End Community part-->

<!-- <signin-page></signin-page> -->
<!-- <signup-page></signup-page> -->
<!-- <home-page></home-page> -->
<!-- <email-verification></email-verification> -->
<!-- <not-found></not-found> -->
<!-- <router-outlet></router-outlet> -->
<app-donation></app-donation>
