<!-- Start Community part-->

<!-- <community-container></community-container> -->

<!--End Community part -->

<!-- <community></community> -->
<!-- <signin-page></signin-page> -->
<!-- <signup-page></signup-page> -->
<!-- <home-page></home-page> -->
<!-- <email-verification></email-verification> -->
<!-- <not-found></not-found> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-donation></app-donation> -->
<!-- <add-post></add-post>
<router-outlet></router-outlet>

<doctor-community></doctor-community> -->

<!-- <chatting-container></chatting-container> -->

<!-- <input 
    type="text"
    #message>
<button>Get</button>

<ul *ngFor="let user of profileList">
    <li>{{ user.touid }}</li>
</ul> -->
<router-outlet></router-outlet>