<nav class="topnav">
    <div class="topnav__search">
        <input 
            type="text" 
            class="topnav__search-control" 
            placeholder="Search for doctors...">
        <svg class="topnav__search-icon">
            <use xlink:href="../../../assets/sprites/topnav-icons.svg#search"></use>
        </svg>
    </div>
    <ul class="topnav__list">
        <li class="topnav__list-item">
            <svg class="topnav__list-icon">
                <use xlink:href="../../../assets/sprites/topnav-icons.svg#notification"></use>
            </svg>
        </li>
        <li class="topnav__list-item">
            <img 
                src="../../../assets/svgs/man.svg" 
                alt="" 
                class="topnav__list-userimg">
            
            <span class="topnav__list-username">
                Mahmoud Mohamed
            </span>    
        </li>
    </ul>
</nav>