@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.chat {
    .userList {
        height: calc(100vh - 50px);
        border-right: 1px solid #e0e0e0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .chat-room-container {
        border-right: 1px solid #e0e0e0;
    }
}
@media(max-width:576px){
    .chat{
        .userList{
            height: auto;
            border-bottom: 1px solid #aaa;
        }
        .chat-room-container {
            border-right: none;
        }
    }
}