@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.chat {
    .userList {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .chat-room-container {
        border-right: 1px solid #e0e0e0;
    }
}
@media(max-width:576px){
    .chat{
        .chat-room-container {
            border-right: none;
        }
    }
}