@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.chat {
    .userList {
        height: calc(100vh - 50px);
        border-right: 1px solid #e0e0e0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .chat-room-container {
        border-right: 1px solid #e0e0e0;
    }
}