@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.profile {
    @include flexbox;
    justify-content: flex-start;

    &__info {
        width: 350px;
        height: 89.8vh;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
        background-color: $divider-color;
    }

    &__content {
        width: calc(100% - 350px);
    }
}