@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.profileContainer{
    min-height: calc(100vh - 50px);
}
.profile__info{
    background-color: #fff;
    position: sticky;
    top: 50px;
}