<div class="dangerDiv" #dangerDiv>
    <div class="dangerMobBtn" (click)=showDangerDiv()></div>
    <button class="dangerBtn">Emergency Alert</button>
    <div class="trustPeopleDiv">
        <header>
            <label>Trusted People<span class="maxNo">up to 3 person</span></label>
            <span class="editTrusted"><i class="fas fa-edit"></i></span>
            <div style="clear: both;"></div>
        </header>
        <div class="trustPeopleContainer">
                <a href="#" class="personLink">
                    <div class="personDiv">
                        <img class="personImg" src="../../../assets/images/profile.jpg">
                        <span class="personName">Moemen said</span>
                    </div>
                </a>
                <a href="#" class="personLink">
                    <div class="personDiv">
                        <img class="personImg" src="../../../assets/images/profile.jpg">
                        <span class="personName">Moemen said</span>
                    </div>
                </a>
        </div>
    </div>
</div>