<div class="dangerDiv">
    <button class="dangerBtn btn btn-danger">Emergency call</button>
    <div class="trustPeopleDiv">
        <header>
            <label>Current Trusted People</label>
            
        </header>
        <div class="trustPeopleContainer">
                <a href="#" class="personLink">
                    <div class="personDiv">
                        <img class="personImg" src="../../../assets/images/profile.jpg">
                        <span class="personName">Moemen said</span>
                    </div>
                </a>
                <a href="#" class="personLink">
                    <div class="personDiv">
                        <img class="personImg" src="../../../assets/images/profile.jpg">
                        <span class="personName">Moemen said</span>
                    </div>
                </a>
            <button class="addPeopleBtn">Add</button>
        </div>
    </div>
</div>