<nav class="d-topnav">
    <div class="brand">
        <medkit-logo 
            [textColor]="'#2d2d2d'" 
            [smIcon]="'#764BCB'"></medkit-logo>
    </div>
    <div class="items u-mrgr-1">
        <ul class="items__list">
            <li class="items__list-item u-mrgr-2">
                <svg class="items__list-icon">
                    <use xlink:href="../../../../assets/sprites/topnav-icons.svg#search"></use>
                </svg>
            </li>
            <li class="items__list-item">
                <svg class="items__list-icon">
                    <use xlink:href="../../../../assets/sprites/topnav-icons.svg#notification"></use>
                </svg>
            </li>
        </ul>
        <div class="items__user">
            <p class="items__user-name u-mrgr-1">
                Mahmoud Mohamed
            </p>
            <img
                class="items__user-img"
                src="../../../../assets/svgs/man2.svg"
                alt="user image">
        </div>
    </div>
</nav>

<!-- 
"node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss",
              "node_modules/bootstrap/scss/bootstrap.scss", -->