@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";


.timeline {
    width: 100%;
    min-height: 610px;
    background-color: #F5F6F7;
    position: relative;
}