@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";


.timeline {
    width: 100%;
    min-height: 610px;
    background-color: #F5F6F7;
    position: relative;

    .postFilter {
        position: fixed;
        top: 65px;
        right: 30px;
        z-index: 5;
    }
}