<div class="profile-data">
    <div class="profile-data__container">
        <span class="profile-data__container-title">
            <svg class="icon">
                <use xlink:href="../../../../../assets/sprites/icons.svg#envlope"></use>
            </svg>
            <span>Email</span>
        </span>
        <span class="profile-data__container-desc">
            mm057@gmail.com
        </span>
    </div>
    <div class="profile-data__container">
        <span class="profile-data__container-title">
            <svg class="icon">
                <use xlink:href="../../../../../assets/sprites/icons.svg#telephone"></use>
            </svg>
            <span>Phone</span>
        </span>
        <span class="profile-data__container-desc">
            +20113304232
        </span>
    </div>
    <div class="profile-data__container">
        <span class="profile-data__container-title">
            <svg class="icon">
                <use xlink:href="../../../../../assets/sprites/icons.svg#location"></use>
            </svg>
            <span>Address</span>
        </span>
        <span class="profile-data__container-desc">
            46 sedi beshr street,<br> alexandria
        </span>
    </div>
</div>