<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 footerImgDiv">
                <img src="../../../assets/images/miniLogoWhite.svg">
            </div>
            <div class="col-6 col-md-4 contactDiv">
                <header>
                    <h5>Contact Us</h5>
                </header>
                <section>
                    <p>002/01156731303</p>
                    <p>info@medkit.com</p>
                </section>
            </div>

            <div class="col-6 col-md-4 footerLinksCol" style="color: #fff;">
                <ul class="footerLinksUl">
                    <h5>Links</h5>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Medkit news</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Team members</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 footerSocialCol" style="color: #fff;">
                <i class="fab fa-facebook-f socialLink"></i>
                <i class="fab fa-twitter socialLink"></i>
                <i class="fab fa-youtube socialLink"></i>
            </div>
            <div class="col-12 rightCol">
                <p>&copy; 2020 Medkit.com All Right Reserved</p>
            </div>
        </div>
    </div>
</footer>