<section class="notfound">
    <div class="notfound__content">
        <nav class="navbar">
            <div class="navbar__brand">
                <medkit-logo></medkit-logo>
            </div>
        </nav>
        <div class="items">
            <img 
                src="../../../assets/svgs/not-found.svg" 
                alt="not found image" 
                class="items__img">
            <div class="items__desc">
                <h5 class="items__desc-title sm-title">
                    This page doesn't exist.
                </h5>
                <p class="items__desc-details md-text">
                    The page you want to access it not found, please back to 
                    <a routerLink="/" class="items__desc-link">Home</a>
                </p>
                <p class="items__desc-details sm-text">
                    Error 404
                </p>
            </div>
        </div>
    </div>
</section>