@import "../abstracts/variables";
@import "../abstracts/mixins";

.dangerDiv {
    position: sticky;
    top: 75px;
    height: calc(100vh - 75px);

    .dangerMobBtn {
        width: 50px;
        height: 65px;
        background: url(../../../assets/images/danger.svg) no-repeat center, radial-gradient(#ED213A, #93291E);
        background-size: 40px 40px;
        border-radius: 10px 0 0 10px;
        position: absolute;
        left: -50px;
        top: -2px;
        display: none;
        cursor: pointer;
    }
}

@media(max-width:992px) {
    .dangerDiv {
        height: auto;
        position: fixed;
        top: 150px;
        transform: translateY(-50%);
        width: 250px;
        right: -250px;
        padding: 20px;
        background: #fff;
        box-shadow: -2px 2px 5px #aaa;
        border-radius: 0 0 0 10px;
        border: 2px solid #c0252c;
        border-right: none;

        .dangerMobBtn {
            display: block;
        }

    }
}