@import "../abstracts/variables";
@import "../abstracts/mixins";


.notificationDivCont {
    display: flex;
    flex-direction: column;

    .noNotificationTitle {
        text-align: center;
        padding: 20px;
        color: #222;
    }
}