@import "../abstracts/variables";
@import "../abstracts/mixins";

.offcanvas-collapse {
    position: sticky;
    top: 50px;
    box-shadow: 1px 0px 3px -1px #aaa;
    z-index: 10;
    height: calc(100vh - 50px);
    background-color: #fff;
}

.navLinkDiv {
    padding-top: 20px;

    &>div {
        margin-bottom: 10px;

        a {
            display: flex;
            align-items: center;
            padding: 15px 0px;
            cursor: pointer;
            font-family: inherit;
            text-decoration: none;
        }
    }

    &>div:hover {
        background-color: $hover-color;
    }

    .activeNavLinkItem,
    .activeNavLinkItem:hover {
        background-color: #eee;

        span {
            color: $primary-color;
            font-weight: 600;
            transition: 0s;
        }

        .sideNavItemImg {
            color: $primary-color;
        }
    }

    .sideNavItemImg {
        margin-left: 20px;
        font-size: 25px;
        color: #aaa;
        transition: 0s;
    }

    .sideNavItemImgDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sideNavItemSpan {
        color: $primary-text;
        margin-left: 20px;
    }
}



@media (min-width:768px) and (max-width:992px) {
    .navLinkDiv {
        .sideNavItemImg {
            margin-left: 10px;
            font-size: 20px;
            width: 20px;
        }
        
        .sideNavItemSpan {
            margin-left: 10px;
        }
    }
}

@media (max-width: 768px) {
    .offcanvas-collapse {
        position: fixed;
        top: 50px;
        bottom: 0;
        width: 100%;
        padding-right: 0;
        overflow-y: auto;
        background-color: #fff;
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);

        &.open {
            -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
        }
    }


}

@media (max-width: 576px) {
    .offcanvas-collapse {
        top: 50px;
    }
}