@import "../abstracts/variables";
@import "../abstracts/mixins";

.fixFixedNav {
    height: 55px;
}

.topNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background: #fff;
    box-shadow: 0px 2px 5px -3px #aaa;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: 0s;
}

.navbar-brand {
    width: 250px;
    height: auto;
    padding: 0 0 0 10px;

    .logo {
        height: 35px;
    }

    .smallLogo {
        width: 150px;
    }
}



.navControlDiv {
    width: max-content;
    float: right;
    display: flex;
    align-items: center;

    .searchContainerDiv {
        width: max-content;
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 20px;

        .searchContainer {
            background-color: #eeeeee;
            border-radius: 3px;
            display: flex;
            border: 1px solid #ddd;

            button {
                background-color: #e5e5e5;
                border: none;
                cursor: pointer;
                padding: 0px 5px;

                img {
                    width: 20px;
                }
            }

            Input[type="text"] {
                background-color: transparent;
                border: none;
                max-width: 178px;
                padding: 10px
            }
        }
    }

    .AccountOptionDiv {
        display: flex;
        align-items: center;

        .bellBtn {
            border: none;
            background-color: transparent;
            padding: 0px;
            cursor: pointer;

            .bellDot {
                position: absolute;
                top: -1px;
                right: 0px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $primary-color;
            }

            .notificationBell {
                font-size: 25px;
            }
        }

        .notificationDivContainer {
            background: #fff;
            position: absolute;
            right: 5px;
            top: 60px;
            border-radius: 5px;
            box-shadow: 0px 0px 3px #aaa;
            max-height: 450px;
            overflow: hidden;


            .notificationHeader {
                padding: 5px 10px;
                border-bottom: 1px solid #ddd;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .fa-times-circle{
                    font-size: 20px;
                    columns: #555;
                    cursor: pointer;
                }
            }
        }

        .accountDetails {
            display: flex;
            align-items: center;
            border-left: 1px solid #e7e7e7;
            margin-left: 10px;

            .accountImg {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                margin-left: 10px;
            }

            .accountName {
                margin: 0 10px;
            }

            .logOutOption {
                svg {
                    height: 25px;
                    width: 30px;
                    margin-bottom: -7px;
                    cursor: pointer;
                }
            }

            .AccountOption {

                .AccountBtn {
                    background-color: transparent;
                    border: none;
                    padding: 0 5px;
                    cursor: pointer;

                    .fa-caret-down {
                        font-size: 22px;
                        margin-top: 3px;
                        color: $primary-text;
                    }
                }

                #AccountOptionDiv {
                    background: #fff;
                    position: absolute;
                    min-width: 150px;
                    right: 5px;
                    padding: 0 20px;
                    top: 60px;
                    box-shadow: 0px 0px 3px #aaa;
                    border-radius: 5px;

                    .optionDiv {
                        padding: 10px 0;
                        cursor: pointer;

                        a {
                            text-decoration: none;
                        }
                    }

                    .notificationTogglerDiv {
                        display: flex;
                        align-items: center;
                        padding: 10px 0;
                        border-bottom: 1px solid #ccc;

                        .switch {
                            position: relative;
                            display: inline-block;
                            width: 35px;
                            height: 20px;
                            margin: 0 0 0 10px;

                            input {
                                opacity: 0;
                                width: 0;
                                height: 0;
                            }
                        }

                        .slider {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: #ccc;
                            -webkit-transition: .4s;
                            transition: .4s;

                            &:before {
                                position: absolute;
                                content: "";
                                height: 16px;
                                width: 16px;
                                left: 3px;
                                bottom: 2px;
                                background-color: #fff;
                                -webkit-transition: .4s;
                                transition: .4s;
                            }
                        }

                        input:checked+.slider {
                            background-color: $primary-color;
                        }

                        input:checked+.slider:before {
                            -webkit-transform: translateX(13px);
                            -ms-transform: translateX(13px);
                            transform: translateX(13px);
                        }

                        .slider.round {
                            border-radius: 20px;

                            &:before {
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }

        }
    }
}

.mainNavBtn {
    position: relative;
    border: none;
    padding: 0;
    background: transparent;
    width: 30px;
    height: 25px;
    margin-right: 20px;

    .navTrigger {
        width: 30px;
        height: 25px;
        margin: auto;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        cursor: pointer;

        i {
            background-color: $primary-text;
            border-radius: 2px;
            display: block;
            width: 100%;
            height: 4px;
        }

        i:nth-child(1) {
            -webkit-animation: outT 0.3s backwards;
            animation: outT 0.3s backwards;
            -webkit-animation-direction: reverse;
            animation-direction: reverse;
        }

        i:nth-child(2) {
            margin: 5px 0;
            -webkit-animation: outM 0.3s backwards;
            animation: outM 0.3s backwards;
            -webkit-animation-direction: reverse;
            animation-direction: reverse;
        }

        i:nth-child(3) {
            -webkit-animation: outBtm 0.3s backwards;
            animation: outBtm 0.3s backwards;
            -webkit-animation-direction: reverse;
            animation-direction: reverse;
        }
    }

    .navTrigger.active {

        i:nth-child(1) {
            -webkit-animation: inT 0.3s forwards;
            animation: inT 0.3s forwards;
        }

        i:nth-child(2) {
            -webkit-animation: inM 0.3s forwards;
            animation: inM 0.3s forwards;
        }

        i:nth-child(3) {
            -webkit-animation: inBtm 0.3s forwards;
            animation: inBtm 0.3s forwards;
        }
    }

}

@media (max-width:768px) {
    .navTrigger {
        display: block !important;
    }
}

@media (max-width:576px) {

    .fixFixedNav {
        height: 50px;
    }

    .mainNavBtn {
        margin-right: 5px;
    }

    .navControlDiv {
        .AccountOptionDiv {
            .accountDetails {
                .accountImg {
                    width: 40px;
                    height: 40px;
                    margin: 0 5px;
                }
            }

            .notificationDivContainer {
                width: calc(100% - 10px);
                right: 5px;
            }
        }
    }
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}