@import '../../../styles/abstracts/variables';

.admin-container {
    min-height: calc(100vh - 50px);

    header {
        background-color: #fff;

        .navbar {
            padding: 0px;

            .navbar-nav {
                width: 100%;
                margin: auto;
                justify-content: space-evenly;
                flex-direction: row !important;

                .nav-item {
                    padding: 10px;
                    text-decoration: none;
                    font-weight: 500;
                    color: #555;
                    width: 200px;
                    text-align: center;

                    &.active {
                        background: $primary-color;
                        color: #fff
                    }
                }
            }
        }
    }
}