<!-- <div class="homeBackground">
    <img src="../../../assets/images/homeBack.svg">
</div> -->

<header class="mainHeader">
    <div class="container-fluid navContainer" id="navContainer">
        <div class="row navBar">
            <div class="col-sm-6 col-12">
                <a class="navbar-brand d-none d-md-block logo" href="#">
                    <img src="../assets/images/logoWhite.svg" class="d-inline-block align-top" id="logo" alt="Logo">
                </a>
                <a class="navbar-brand d-md-none d-block miniLogo" href="#">
                    <img src="../assets/images/miniLogoWhite.svg" class="d-inline-block align-top" id="miniLogo" alt="Logo">
                </a>
            </div>

            <div class="col-sm-6 col-12">
                    <ul class="navbarNav">
                        <li class="navItem">
                            <a class="navLink" href="#">Donation</a>
                        </li>
                        <li class="navItem">
                            <a class="navLink" href="#">Sign up</a>
                        </li>
                        <li class="navItem">
                            <a class="navLink" href="#">Sign in</a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    <div  class="fixFixedPositionDiv"></div>

    <div class="container-fluid sloganDiv">
        <div class="row">
            <div class="col-md-5 col-12 slogan">
                <h1>Designed for you HEALTH</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
            <div class="col-md-7 col-12 ViewDiv">
                <img src="../../../assets/images/computerView.png" class="lapViewImg">
                <img src="../../../assets/images/phoneView.png" class="phoneViewImg">
            </div>
        </div>
    </div>
</header>

<div class="container sectionContainer">
    <div class="row">
        <div class="col-md-12">
            <section class="SeviceSection">
                <div class="row">
                    <div class="col-md-12"><h1 class="sectionHeader">Our Services</h1></div>
                    <div class="col-md-4 col-12 "><div class="featureDiv"></div></div>
                    <div class="col-md-4 col-12 "><div class="featureDiv"></div></div>
                    <div class="col-md-4 col-12 "><div class="featureDiv"></div></div>
                </div>
            </section>
        </div>
        <div class="backGroundDiv1">
            <img src="../../../assets/images/homeBack3.svg">
        </div>
    </div>
</div>