<!-- <div class="homeBackground">
    <img src="../../../assets/images/homeBack.svg">
</div> -->
<header class="mainHeader">
    <app-home-top-nav></app-home-top-nav>

    <div class="container-fluid sloganDiv">
        <div class="row">
            <div class="col-md-5 col-12 slogan">
                <h1>Designed for you HEALTH</h1>
            </div>
            <div class="col-md-7 col-12 ViewDiv">
                <img src="../../../assets/images/computerView.png" class="lapViewImg">
                <img src="../../../assets/images/phoneView.png" class="phoneViewImg">
            </div>
        </div>
    </div>
</header>
<div class="serviceSection">



    <div class="container sectionContainer">
        <div class="row">
            <div class="col-md-12">
                <section class="SeviceSection">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="sectionHeader">Our Services</h1>
                        </div>
                        <div class="col-md-4 col-12 featureDivContainer">
                            <div class="featureDiv featureDiv1">
                                <header><img src="../../../assets/images/com.png"></header>
                                <section>
                                    <header>
                                        <h4> Healthcare Community</h4>
                                    </header>
                                    <div class="featureDescription">
                                        <p>Post your health related problems and questions and get responses form doctors form around the world</p>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 featureDivContainer ">
                            <div class="featureDiv featureDiv2">
                                <header><img src="../../../assets/images/doc.jpg"></header>
                                <section>
                                    <header>
                                        <h4> Online Clinic </h4>
                                    </header>
                                    <div class="featureDescription">
                                        <p>Book an appointment with doctors and chat with them, using our chat service and live video call then get your prescription after it</p>
                                    </div>
                                </section>
                            </div>

                        </div>
                        <div class="col-md-4 col-12 featureDivContainer ">
                            <div class="featureDiv featureDiv3">
                                <header><img src="../../../assets/images/sosa.jpg"></header>
                                <section>
                                    <header>
                                        <h4> Emergency Call </h4>
                                    </header>
                                    <div class="featureDescription">
                                        <p>In case you are in danger or you need help You can send an EMERGENCY ALERT to the people you trust, with your location</p>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container-fluid donationContainer">
    <div class="row donationDiv">
        <div class="col-md-7 donateSectionCol">
            <div class="donationSection">
                <h1>Donate now</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>
        <div class="col-md-5 donationImgDiv">
            <img src="../../../assets/images/donation.png">
        </div>
    </div>
</div> -->

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 footerImgDiv">
                <medkit-logo [iconFill]="'#fff'" [iconStroke]="'#258ACD'" [sloganColor]="'#fff'" [textColor]="'#fff'" ></medkit-logo>
            </div>
            <div class="col-6 col-md-4 contactDiv">
                <header>
                    <h5>Contact Us</h5>
                </header>
                <section>
                    <p>002/01156731303</p>
                    <p>info@medkit.com</p>
                </section>
            </div>

            <div class="col-6 col-md-4 footerLinksCol" style="color: #fff;">
                <ul class="footerLinksUl">
                    <h5>Links</h5>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Team members</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 footerSocialCol" style="color: #fff;">
                <i class="fab fa-facebook-f socialLink"></i>
                <i class="fab fa-twitter socialLink"></i>
                <i class="fab fa-youtube socialLink"></i>
            </div>
            <div class="col-12 rightCol">
                <p>&copy; 2020 Medkit.com All Right Reserved</p>
            </div>
        </div>
    </div>
</footer>