<nav class="sidebar">
    <div class="sidebar__brand">
        <a href="">
            <medkit-logo></medkit-logo>
        </a>
    </div>
    <ul class="sidebar__list">
        <li class="sidebar__list-item">
            <a 
                href="" 
                class="sidebar__list-link">Timeline</a>
            <svg class="sidebar__list-icon">
                <use xlink:href="../../../assets/sprites/sidenav-icons.svg#timeline"></use>
            </svg>
        </li>
        <li class="sidebar__list-item">
            <a 
                href="" 
                class="sidebar__list-link">Chats</a>
            <svg class="sidebar__list-icon">
                <use xlink:href="../../../assets/sprites/sidenav-icons.svg#speech-bubble"></use>
            </svg>
        </li>
        <li class="sidebar__list-item">
            <a 
                href="" 
                class="sidebar__list-link">Doctors</a>
            <svg class="sidebar__list-icon">
                <use xlink:href="../../../assets/sprites/sidenav-icons.svg#doctor"></use>
            </svg>
        </li>
    </ul>
    <ul class="sidebar__list">
        <li class="sidebar__list-item">
            <a 
                href="" 
                class="sidebar__list-link">Blog</a>
            <svg class="sidebar__list-icon">
                <use xlink:href="../../../assets/sprites/sidenav-icons.svg#blog"></use>
            </svg>
        </li>
        <li class="sidebar__list-item">
            <a 
                href="" 
                class="sidebar__list-link">Healthbeat</a>
            <svg class="sidebar__list-icon">
                <use xlink:href="../../../assets/sprites/sidenav-icons.svg#care"></use>
            </svg>
        </li>
        <li class="sidebar__list-item">
            <a 
                href=""
                class="sidebar__list-link">Help & Support</a>
            <svg class="sidebar__list-icon">
                <use xlink:href="../../../assets/sprites/sidenav-icons.svg#technical-support"></use>
            </svg>
        </li>
    </ul>
</nav>