@import "../../../../styles/abstracts/mixins";

.chatRoomContainer {
    position: relative;
    height: calc(100vh - 50px);

    .chatMessages {
        overflow-y: auto;
        height: calc(100vh - 150px); //topnav + chatHeader + chatInput + (((height of otherUsers in future to be added)))

        ::-webkit-scrollbar {
            width: 2px;
          }
    }

    .chatInput {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }

}