<div class="row">
    <div class="col-xl-12 col-lg-12">
        <chat-head 
            [userData]="(userData) | async"></chat-head>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="feeds-container">
            <chat-feeds 
                [messages]="messages"></chat-feeds>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <chat-form 
            [threadId]="threadId" 
            [routeId]="activeRoute"></chat-form>
    </div>
</div>