<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">

    <div class="navLinkDiv">

        <div class="activeNavLinkItem">
            <div class="sideNavItemImgDiv"><img class="sideNavItemImg" src="../assets/images/timeLine.svg"></div>
            <span class="sideNavItemSpan">Timeline</span>
        </div>
        <div>
            <div class="sideNavItemImgDiv"><img class="sideNavItemImg" src="../assets/images/dashboard.svg"></div>
            <span class="sideNavItemSpan">Dashboard</span>
        </div>
        <div>
            <div class="sideNavItemImgDiv"><img class="sideNavItemImg" src="../assets/images/chats.svg"></div>
            <span class="sideNavItemSpan">Chats</span>
        </div>
        <div>
            <div class="sideNavItemImgDiv"><img class="sideNavItemImg" src="../assets/images/doctor.svg"></div>
            <span class="sideNavItemSpan">Doctor</span>
        </div>
    </div>


    <div class="downArrowDiv">
        <span>For helping you</span>
    </div>

    <div class="navLinkDiv">
        <div>
            <div class="sideNavItemImgDiv"><img class="sideNavItemImg" src="../assets/images/blog.svg"
                    style="width: 20px;"></div>
            <span class="sideNavItemSpan">Blogs</span>
        </div>
        <div>
            <div class="sideNavItemImgDiv"><img class="sideNavItemImg" src="../assets/images/healthBeat.svg"
                    style="width: 20px;"></div>
            <span class="sideNavItemSpan">Health Beat</span>
        </div>
        <div>
            <div class="sideNavItemImgDiv"><img class="sideNavItemImg" src="../assets/images/help.svg"
                    style="width: 20px;"></div>
            <span class="sideNavItemSpan">Help & Support</span>
        </div>

    </div>
</div>