<section class="community">
    <div class="community__sidebar">
        <community-sidebar></community-sidebar>
    </div>
    <div class="community__main">
        <div class="community__main-topnav">
            <community-topnav></community-topnav>
        </div>
        <div class="community__main-router">
            <!-- router injection  -->
            <profile></profile>
            <!-- <timeline></timeline> -->
            <!-- <chatting-container></chatting-container> -->
        </div>
    </div>
</section>