<c-topnav></c-topnav>
<div class="container-fluid mainCommunityDiv">
    <div class="row">
        <div class="col-md-2 p-0">
            <c-sidebar></c-sidebar>
        </div>

        <div class="col-md-10 col-lg-8 col-12">
            <!-- <timeline></!-->
            <!-- <chats></chats> -->
            <!-- <profile></profile> -->
            <router-outlet></router-outlet>
        </div>

        <div class="col-lg-2 dangerArea">
            <danger-area></danger-area>
        </div>

    </div>
</div>

<div #postingDiv class="addingPostingArea">
    <add-post (closeDivEmit)="hidePostingDiv()" [currentDate]="currentDateClicked"></add-post>
</div>