@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";


.community {
    width: 100%;
    min-height: 100vh;
    @include flexbox;
    

    &__sidebar {
        width: 256px;
        height: 100vh;
        background-color: #334150;
        position: sticky;
        top: 0;
    }

    &__main {
        width: calc(100% - 256px);

        &-topnav {
            height: auto;
            border-bottom: 1px solid rgba(#eee, .5);
            position: sticky;
            top: 0;
            background-color: $divider-color;
            z-index: 50;
        }

        &-router {
            min-height: 545px;
            background-color: #F3F5F6;
        }
    }
}

.mainCommunityDiv{
    background: #f5f6f7;
}
.communityRouterDiv{
    height: calc(100vh - 55px);
    overflow-y: auto;
    overflow-x: hidden;
}

@media(max-width:991.99px){
    .communityRouterDiv{
        height: auto;
        overflow: auto;
    }
    .dangerArea{
        position: fixed;
        top: 40%;
        transform: translateY(-50%);
    }
}