<c-topnav></c-topnav>
<div class="container-fluid mainCommunityDiv">
    <div class="row">
        <div class="col-md-1 col-lg-2 p-0">
            <c-sidebar></c-sidebar>
        </div>

        <div class="col-md-11 col-lg-8 col-12 communityRouterDiv">
            <router-outlet></router-outlet>
        </div>
        <div class="col-lg-2 dangerArea">
            <emergency-area></emergency-area>
        </div>
    </div>
</div>

<div *ngIf="callComming">
    <callingAlert [callerID]='callerId'></callingAlert>
</div>

<div *ngIf="callAccepted">
    <videoCall [channelName]='channelName' [CallerId]="callerId"></videoCall>
</div>

<div *ngIf='isEmergencyComming'>
    <emergency-alert [userId]='userId' [longitude]='longitude' [latitude]='latitude'></emergency-alert>
</div>

<div *ngIf='isPrescriptionDashboard'>
    <prescription-dashboard [patientId]='patientId'></prescription-dashboard>
</div>

<div *ngIf='isDocRate'>
    <doc-rating [docId]='docId'></doc-rating>
</div>

<doctor-booking></doctor-booking>
