<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="search">
            <svg class="search__icon">
                <use xlink:href="../../../../assets/sprites/topnav-icons.svg#search"></use>
            </svg>
            <input 
                type="text" 
                class="search__input" 
                placeholder="Search for chats" 
                (click)="sharedService.showUsersList()">
        </div>
    </div> 
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="chat-list" *ngFor="let thread of threads | async">
            <chat-list-item 
                [thread]="thread"></chat-list-item>
        </div>
    </div>
</div>