@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/base/utilities";
@import "../../../../styles/base/typography";

.search {
    @include flexbox;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    border: .7px solid #eee;
    border-radius: 5px;
    background-color: rgba($secondary-text, .03);
    margin: 10px;

    &__icon {
        width: 20px;
        height: 20px;
        fill: rgba($secondary-text, .7);
    }

    &__input {
        border: none;
        background-color: transparent;
        padding: .7em 3em;
        font-family: 'Inter';
        font-size: 13px;
        color: $primary-text;
        font-weight: 400;

        &::-webkit-input-placeholder {
            font-size: 12px;
            font-weight: 400;
            color: rgba($secondary-text, .7);
        }
    }
}

.chat-list.active {
    background-color: #ddd;
}

@media(max-width:786px) {
    .search {
        display: none;
    }
}

@media(max-width:576px) {
    .chatListContainer {
        display: flex;
        box-shadow: 0px 1px 3px -1px #aaa;
    }
}