@import "./styles/abstracts/variables";

//Window
* {
  outline: none !important;
  transition: all .2s ease-in-out;
  animation-duration: .2s !important;
}

body {
  overflow-x: hidden;
  transition: .0s;
}


//scrolBar for website
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #dadada;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
}

::-webkit-scrollbar-thumb:hover {
  background: $dark-primary-color;
}

.pivateMessages,.previousChatsDiv {
  &::-webkit-scrollbar {
    display: none;
  }
}