<div class="comment" [@commentAnimation]>
    <div class="comment__info">
        <div class="userImgDiv">
            <img src="{{userImgUrl}}" alt="" class="comment__info-user__img">
        </div>
        <div class="commentDataDiv">
            <div class="userdata">
                <div class="comment__info-user">
                    <span class="comment__info-user__name">
                        <a [routerLink]="['/community/Profile', commentData.userId]">
                            {{ commentData?.userName}}
                        </a>
                    </span>
                    <span class="comment__info-user__date">
                        in {{ commentData?.createdTime |date:'d,LLL h:mm aa'}}
                    </span>
                </div>
                <div class="commentHeader">
                    <div class="comment__info-rate">
                        <span class="comment__info-rate__counter">
                            {{ clappingCounter }} claps
                        </span>
                    </div>
                    <div dropDownCollabse class="commentOption" *ngIf="isAuther">
                        <a class="commentOption_caret">
                            <svg>
                                <use xlink:href="../../../../assets/sprites/posts-icons.svg#option"></use>
                            </svg>
                        </a>
                        <div class="collapse">
                            <div (click)='deleteComment()'>
                                <svg>
                                    <use xlink:href="../../../../assets/sprites/posts-icons.svg#delete"></use>
                                </svg>
                                <span>Delete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="commentContentDiv">
                <span>
                    {{ commentData?.content }}
                </span>
                <div (click)="clapping()" class="clappingIconDiv">
                    <svg class="clappingIcon" [ngClass]="{'active':clapped==true}">
                        <use xlink:href="../../../../../assets/sprites/posts-icons.svg#percussion-instrument"></use>
                    </svg>
                </div>

            </div>
        </div>
    </div>
</div>