@import "../../../../../styles/abstracts/variables";

.contentDivContainer {
    padding: 15px 20px;
    border-radius: 10px;
    background: #ecececb8;
    margin: 15px;

    .contentDiv {
        display: flex;
        justify-content: space-between;


        p {
            font-size: 13px;
            font-weight: 800;
            color: #555;
            margin-top: -3px;
        }

        p.description {
            font-weight: 600;
            font-size: 16px;
            font-family: inherit;
            color: #333;
            margin-top: 0;
        }


        .btn {
            color: $primary-color;
            font-size: 16px;
            padding: 0px 5px;
            height: 24px;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .editDiv {
        display: none;
        margin-top: 20px;

        .form-group {
            padding: 0px 15px;

            label.col-form-label {
                padding-left: 20px;
            }

            input.form-control {
                height: 38px;
                border-radius: 5px 0 0 5px;
                font-size: 1rem;
                border-right: none;

                &:focus {
                    box-shadow: none;
                }
            }

            .btn {
                background-color: $primary-color;
                border-radius: 0 5px 5px 0;
                color: #fff;

                &:focus {
                    box-shadow: none;
                }
            }

            &.passCheck {
                input.form-control {
                    border: 1px solid #ced4da;
                    border-radius: 5px;
                }

                .btn {
                    border-radius: 5px;
                    margin: 10px auto 0 auto;
                    max-width: 200px;
                }
            }
        }

        .cancelEditDiv {
            display: flex;
            justify-content: flex-end;

            .cancelBtn {
                padding: 0 15px;
                color: #f00;

                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}

@media(max-width:768px) {
    .contentDivContainer {
        margin: 15px 0;

        .contentDiv {
            .actualDataDiv {

                p {
                    font-size: 16px;
                    padding-left: 0;
                }

            }
        }


        .editDiv {
            .form-group {
                label.col-form-label {
                    padding-left: 0px;
                }
            }
        }
    }
}


@media(max-width:576px) {
    .contentDivContainer {

        .contentDiv {
            margin: 0px -15px;
            .btn{
                padding: 0px 20px;
            }
        }
    }
}