<div class="row">
    <div class="col-12 p-sm-0">
        <div class="contentDivContainer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="contentDiv">
                            <div>
                                <p class="description">Trusted people</p>
                                <p>(up to 3)</p>
                            </div>
                            <button class="btn" editCollapse (click)='scrollDown()'>Edit</button>
                        </div>
                    </div>
                    <div class=" offset-md-1 col-md-10 col-12" style="margin-top: 10px;">
                        <current-trusted></current-trusted>
                    </div>
                </div>
            </div>
            <div class="editDiv animate fadeIn">
                <edit-trusted></edit-trusted>
                <div class="cancelEditDiv">
                    <div>
                        <button #cancelNameBtn type="button" editCollapse class="btn cancelBtn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>