.lg-title {
    font-size: 40px;
    font-weight: 900;
}

.md-title {
    font-size: 28px;
    font-weight: 700;
}

.sm-title {
    font-size: 20px;
    font-weight: 600;
}

.md-text {
    font-size: 17px;
    font-weight: 400;
}

.sm-text {
    font-size: 14px;
    font-weight: 400;
}